.list {
    padding-top: 5px;
    & li {
        background: #f8f8f8;
        height: 100px;
        margin-top: 10px;
        position: relative;
        & a {
            display: block;
            height: 100px;
            & img {
                width: 165px;
                height: 100px;
                float: left;
                margin-right: 15px;
            }
            & p {
                font: 14px/20px simsun;
                padding-top: 7px;
                position: static;
            }
            & div {
                background: url(./play.png) 0 0;
                width: 24px;
                height: 24px;
                position: absolute;
                left: 10px;
                top: 68px;
                z-index: 100;
            }
        }
        & a:hover {
            & p {
                color: #f54343;
            }
            & div {
                background: url(./play_hover.png) 0 0;
            }
        }
        & p {
            font: 12px/22px simsun;
            color: #999;
            position: absolute;
            left: 180px;
            top: 70px;
        }
    }
}
