@import '../../var.css';

.list_menu {
    float: left;
    width: 774px;
    height: 24px;
    line-height: 24px;
    & li {
        float: left;
        background: url(./line.gif) no-repeat left center;
        padding: 0 9px 0 9px;
        & a {
            color: var(--color);
        }
    }
    & li:first-child {
        background:none; padding-left:2px;
    }
}
