
 
.h_searchDiv{width:1000px;margin:0 auto;height:37px;padding:19px 0 0; background:#fff;}/*150806a*/
.h_theLogo{float:left;font-size:12px}
.h_theLogo img{float:left;}
.h_theLogo span{float:left; height:31px; margin-left:10px; display:inline; border-left:1px solid #ccc; padding:3px 0 0 10px; overflow:hidden;}