.user {
    width: 140px;
    float: right;
    text-align: right;
}

.h_mainNavNew {
    width: 980px;
    height: 26px;
    margin: 0 auto;
    padding: 7px 10px 3px;
    font-family: '宋体';
    position: relative;
    z-index: 999;
    background: #fff;
}

.h_searchDiv {
    width: 1000px;
    margin: 0 auto;
    height: 32px;
    padding-top: 18px;
}

.h_theLogo {
    float: left;
    font-size: 12px;

    & a img {
        float: left;
        padding-top: 2px;
        margin-right: 14px;
    }
}
.adv11 {
    width: 111px;
    float: left;
    font-family: Microsoft YaHei;
    font-size: 24px;
    color: #333;
    height: 32px;
    line-height: 32px;
}
