.link_box {
    position: relative;
    float: right;
}

.box {
    composes: clearfix from global;
    height: 28px;
    cursor: pointer;
    & a {
        text-decoration: none;
        display: block;
        float: left;
        margin-left: 5px;
        background: #fff;
        border: 1px solid #f54343;
        padding: 3px 4px;
        color: #f54343 !important;
    }
    & a:hover {
        text-decoration: none;
        background: #f54343;
        color: #fff !important;
    }
}
