.titleR {
    composes: clearfix from global;
    font-family: Microsoft YaHei;
    font-size: 20px;
    color: #2a2a2a;
    height: 40px;
    line-height: 40px;
    border-top: 2px solid #999;
    & span {
        display: block;
        float: left;
    }
    & img {
        float: left;
        margin: 12px 0 0 8px;
    }
}
