<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="always" name="referrer">
    <!-- 替换域名ifeng -->
    <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"
    />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"
    />
    <style type="text/css">
        .slick-dots li.slick-active button:before {
            opacity: 1;
            color: #fc5521;
        }
    </style>
    <title></title>
    <script>
        var allData = <%- JSON.stringify(allData) %>;
    </script>

</head>

<body>
    <div id="root"></div>

    <script>
        // var boxs = document.querySelectorAll('[data-adhook]');
        // console.log(boxs.length);
        // for (var i = 0, iLen = boxs.length; i < iLen; i++) {
        //     var text = boxs[i].innerText;
        //     boxs[i].innerHTML = text + '我修改了你';
        // }
    </script>
</body>

</html>