<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="always" name="referrer">
    <title></title>
    <script>
        var allData = <%- JSON.stringify(allData) %>;
        var jsonData = {
            nav: allData.nav,
            search: allData.search,
            topAd: {
                data: {
                    title: 'topAd'
                },
                preload: 'http://y0.ifengimg.com/base/jQuery/jquery-1.9.1.min.js',
                callback: 'function(elm, data) {console.log("topAd"); $(elm).html(data.title)}'
            },
            logo: allData.logo,
            logoAd: allData.logoAd,
            navigation: allData.navigation,
            subNavigation: allData.subNavigation,
            stockPlateStyle: allData.stockPlateStyle,
            stockPlate: allData.stockPlate,
            animationPic: allData.animationPic,
            jumpLink: allData.jumpLink,
            headline: allData.headline,
            newsLiveTab: allData.newsLiveTab,
            newsLiveTabLink: allData.newsLiveTabLink,
            stockNews: allData.stockNews,
            liveLogo: allData.liveLogo,
            newsTab: allData.newsTab,
            newsSubTab: allData.newsSubTab,
            news: allData.news,
            answerTab: allData.answerTab,
            answerSubTab: allData.answerSubTab,
            answerList: allData.answerList,
            leftAsideAd: {
                data: {
                    title: 'leftAsideAd'
                },
                preload: 'http://y0.ifengimg.com/base/jQuery/jquery-1.9.1.min.js',
                callback: 'function(elm, data) {console.log("leftAsideAd"); $(elm).html(data.title)}'
            },
            bannerPic: allData.bannerPic,
            cattleStocksTitle: allData.cattleStocksTitle,
            rankTitle: allData.rankTitle,
            fundsFlowTitle: allData.fundsFlowTitle,
            customStocksTitle: allData.customStocksTitle,
            QATitle: allData.QATitle,
            QATabs: allData.QATabs,
            hotSpotsTitle: allData.hotSpotsTitle,
            hotSpotsSubTitle1: allData.hotSpotsSubTitle1,
            hotSpotsSubTitle2: allData.hotSpotsSubTitle2,
            marketAnalysis: allData.marketAnalysis,
            hotPlate: allData.hotPlate,
            industryTitle: allData.industryTitle,
            industry: allData.industry,
            hyin: allData.hyin,
            hyout: allData.hyout,
            gnin: allData.gnin,
            gnout: allData.gnout,
            singleStockTitle: allData.singleStockTitle,
            marketRadarTabs: allData.marketRadarTabs,
            marketRadar: allData.marketRadar,
            trackTabs: allData.trackTabs,
            track: allData.track,
            fiveDaysTabs: allData.fiveDaysTabs,
            fiveDaysBuy: allData.fiveDaysBuy,
            fiveDaysSell: allData.fiveDaysSell,
            hotSpotsAd: {
                data: {
                    title: 'hotSpotsAd'
                },
                preload: 'http://y0.ifengimg.com/base/jQuery/jquery-1.9.1.min.js',
                callback: 'function(elm, data) {console.log("hotSpotsAd"); $(elm).html(data.title)}'
            },
            schoolTitle: allData.schoolTitle,
            schoolSubTitle1: allData.schoolSubTitle1,
            schoolSubTitle2: allData.schoolSubTitle2,
            logs: allData.logs,
            school: allData.school,
            starAnalystTitle: allData.starAnalystTitle,
            starAnalyst: allData.starAnalyst,
            starSrank: allData.starSrank,
            starMrank: allData.starMrank,
            starLrank: allData.starLrank,
            stockPickingTitle: allData.stockPickingTitle,
            stockpool: allData.stockpool,
            stockpoolData: allData.stockpoolData,
            chgpctest: allData.chgpctest,
            chgpctestData: allData.chgpctestData,
            levelup: allData.levelup,
            levelupData: allData.levelupData,
            firstfocus: allData.firstfocus,
            firstfocusData: allData.firstfocusData,
            focusest: allData.focusest,
            focusestData: allData.focusestData,
            schoolAd: {
                data: {
                    title: 'schoolAd'
                },
                preload: 'http://y0.ifengimg.com/base/jQuery/jquery-1.9.1.min.js',
                callback: 'function(elm, data) {console.log("schoolAd"); $(elm).html(data.title)}'
            },
            subjectTitle: allData.subjectTitle,
            subject: allData.subject,
            marketTitle: allData.marketTitle,
            market: allData.market,
            courierTitle: allData.courierTitle,
            courier: allData.courier,
            playItem: allData.playItem,
            rightSideAd: {
                data: {
                    title: 'rightSideAd'
                },
                preload: 'http://y0.ifengimg.com/base/jQuery/jquery-1.9.1.min.js',
                callback: 'function(elm, data) {console.log("rightSideAd"); $(elm).html(data.title)}'
            },
            linkList: allData.linkList,
            dayStock: allData.dayStock,
            cooperation: allData.cooperation,
            bottomAd: {
                data: {
                    title: 'bottomAd'
                },
                preload: 'http://y0.ifengimg.com/base/jQuery/jquery-1.9.1.min.js',
                callback: 'function(elm, data) {console.log("bottomAd"); $(elm).html(data.title)}'
            },
            footer: allData.footer,
            qrCode: allData.qrCode
        };

    </script>
    {{#each htmlWebpackPlugin.files.css}}
    <link href="{{path}}" rel="stylesheet"> 
    {{/each}}
    <!--[if lt IE 8]>
        <script>
            if (typeof document.querySelector === 'undefined') {
                document.querySelector = function (target) {
                    return document.getElementsByTagName(target)[0] || null;
                }
            }
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script>
            if (Object.defineProperty 
            && Object.getOwnPropertyDescriptor 
            && Object.getOwnPropertyDescriptor(Element.prototype, "textContent") 
            && !Object.getOwnPropertyDescriptor(Element.prototype, "textContent").get) {
            (function() {
                var innerText = Object.getOwnPropertyDescriptor(Element.prototype, "innerText");
                Object.defineProperty(Element.prototype, "textContent",
                // Passing innerText or innerText.get directly does not work,
                // wrapper function is required.
                {
                get: function() {
                    return innerText.get.call(this);
                },
                set: function(s) {
                    return innerText.set.call(this, s);
                }
                }
            );
            })();
            }
        </script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/es5-shim/4.5.10/es5-shim.min.js"></script>
        <script src="https://cdn.bootcss.com/es5-shim/4.5.10/es5-sham.min.js"></script>
        <script src="http://cdn.bootcss.com/console-polyfill/0.3.0/index.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="root"></div>
    <script src="/bj-report.js"></script>
    <script src="/bj-wrap.js"></script>
    <script>
        BJ_REPORT.init({
            namespace: 'shank', // 命名空间
            appname: 'web_channel_finance', // 项目名称
            url: "http://172.30.156.158:3000/api/error/upload"
        });

        BJ_REPORT.tryJs().spyAll();
    </script>

    {{#each htmlWebpackPlugin.files.js}}
    <script src="{{path}}" type="text/javascript"></script>
    {{/each}}
</body>

</html>