.data_box {
    & > span {
        display: block;
        height: 30px;
        width: 100%;
        font-size: 14px;
        display: block;
        padding: 12px 0 0;
        color: #f54343;
        & .price {
            display: inline;
            font-weight: bold;
        }
        & > a {
            float: right;
            font-size: 12px;
            margin-top: 0;
        }
    }
    & > span.green {
        color: #44a492;
    }
    & > p a img {
        display: block;
        /* width: 300px; */
        /* height: 163px; */
    }
}

.up {
    display: inline-block;
    width: 11px;
    height: 10px;
    background: url(./up.gif) no-repeat;
}

.down {
    display: inline-block;
    width: 11px;
    height: 10px;
    background: url(./down.gif) no-repeat;
}
