# /node_modules/* and /bower_components/* ignored by default

# Ignore built files except build/index.js
build/*
bin/*
devtmp/*
dist/*
tests/*
webpackUtils/*
uploadcdn.js
webpack.config.js
webpack.prod.config.js
node_modules/*
biz/providers/**
biz/common/middlewares/**
biz/common/shutdown.js
static/*
gulpfile.js