.title_box {
    margin: 16px 0px 12px;
    & .title {
        display: block;
        width: 220px;
        float: left;
        font-size: 16px;
        font-family: '微软雅黑';
        color: #222222;
        text-decoration: none;
        font-weight: bold;
    }
    & .more {
        line-height: 18px;
        background: url(./g36.png) no-repeat right center;
        width: 35px;
        float: right;
        & a {
            color: #666666;
        }
        & a:hover {
            color: #f54343;
            text-decoration: none;
        }
    }
}
