<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="always" name="referrer">
    <title>凤凰财经-离用户最近的财经媒体-凤凰网</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    {{{ htmlWebpackPlugin.options.errorupload }}}
    <%- statisticsData.statisticsHead %>
    {{{ htmlWebpackPlugin.options.headScripts.default }}}
    {{#each htmlWebpackPlugin.files.css}}
    <link href="{{path}}" rel="stylesheet"> 
    {{/each}}

    {{{ htmlWebpackPlugin.options.polyfill }}}
    <%- decodeURIComponent(adData.adHead) %>
</head>

<body>
    <div id="root"></div>

    {{#if htmlWebpackPlugin.options.useMorden}}
        {{#if htmlWebpackPlugin.options.isDevMode}}
            {{#each htmlWebpackPlugin.files.js}}
                <script type="module" src="{{path}}_modern.js" type="text/javascript" crossorigin="anonymous"></script>
            {{/each}}
        {{else}}
            <!--include file="{{htmlWebpackPlugin.options.includeName}}.html" -->
        {{/if}}
        {{{htmlWebpackPlugin.options.modernPolyfill}}}
        <script>
            var __isIe8 = false;
        </script>
        <!--[if lt IE 9]>
        <script>
            __isIe8 = true;
        </script>
        <![endif]-->
        <script>
            if(__isIe8){
                <!--include file="{{htmlWebpackPlugin.options.includelowName}}.html" -->
            } else {
                {{#each htmlWebpackPlugin.files.js}}
                    document.write('<scr' + 'ipt nomodule src="{{path}}" type="text/javascript" crossorigin="anonymous"></scri' + 'pt>');
                {{/each}}
            }
        </script>
    {{else}}
        {{#each htmlWebpackPlugin.files.js}}
            <script src="{{path}}" type="text/javascript"></script>
        {{/each}}
    {{/if}}
    <%- decodeURIComponent(adData.adBody) %>
    <%- statisticsData.statisticsBody %>
</body>

</html>