.box {
    width: 640px;
    height: 424px;
    margin: 0 auto;
    margin-top: 200px;
}
.content {
    width: 640px;
    height: 424px;
    background: url(https://d.ifengimg.com/w360_h220_q70/p1.ifengimg.com/2019_17/D99E9D210E1E48381CEA1423D96565676A2AA360_w360_h220.jpg)
        no-repeat;
    background-size: cover;
}
