.box {
    float: right;
    width: 301px;
    padding: 0px 0 0;
    position: relative;
    z-index: 80;
    text-align: center;
    line-height: 34px;
    height: 34px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
