<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="always" name="referrer">
    <title></title>
    <script>
        var allData = <%- JSON.stringify(allData) %>;
        var jsonData = {
            nav: allData.nav,
            search: allData.search,
            topAd: {
                data: {
                    title: '顶部广告'
                },
                preload: 'http://y0.ifengimg.com/base/jQuery/jquery-1.9.1.min.js',
                callback: 'function(elm, data) {console.log("topAd"); $(elm).html(data.title)}'
            },
            logo: allData.logo,
            logoAd: allData.logoAd,
            navigation: allData.navigation,
            rights: allData.rights,
            production: allData.production,
            bannerPic: allData.bannerPic,
            headline: allData.headline,
            dayNews: allData.dayNews,
            extraNews: allData.extraNews,
            recommend: allData.recommend,
            middleAd: {
                data: {
                    title: '中部广告'
                },
                preload: 'http://y0.ifengimg.com/base/jQuery/jquery-1.9.1.min.js',
                callback: 'function(elm, data) {console.log("bottomAd"); $(elm).html(data.title)}'
            },
            comicBook: allData.comicBook,
            talking: allData.talking,
            finance: allData.finance,
            financeList: allData.financeList,
            stocks: allData.stocks,
            stocksList: allData.stocksList,
            financeVideo: allData.financeVideo,
            institute: allData.institute,
            lark: allData.lark,
            meeting: allData.meeting,
            market: allData.market,
            courier: allData.courier,
            asideAd1: {
                data: {
                    title: '侧边广告 1'
                },
                preload: 'http://y0.ifengimg.com/base/jQuery/jquery-1.9.1.min.js',
                callback: 'function(elm, data) {console.log("bottomAd"); $(elm).html(data.title)}'
            },
            asideAd2: {
                data: {
                    title: '侧边广告 2'
                },
                preload: 'http://y0.ifengimg.com/base/jQuery/jquery-1.9.1.min.js',
                callback: 'function(elm, data) {console.log("bottomAd"); $(elm).html(data.title)}'
            },
            asideAd3: {
                data: {
                    title: '侧边广告 3'
                },
                preload: 'http://y0.ifengimg.com/base/jQuery/jquery-1.9.1.min.js',
                callback: 'function(elm, data) {console.log("bottomAd"); $(elm).html(data.title)}'
            },
            asideAd4: {
                data: {
                    title: '侧边广告 4'
                },
                preload: 'http://y0.ifengimg.com/base/jQuery/jquery-1.9.1.min.js',
                callback: 'function(elm, data) {console.log("bottomAd"); $(elm).html(data.title)}'
            },
            asideAd5: {
                data: {
                    title: '侧边广告 5'
                },
                preload: 'http://y0.ifengimg.com/base/jQuery/jquery-1.9.1.min.js',
                callback: 'function(elm, data) {console.log("bottomAd"); $(elm).html(data.title)}'
            },
            asideAd6: {
                data: {
                    title: '侧边广告 6'
                },
                preload: 'http://y0.ifengimg.com/base/jQuery/jquery-1.9.1.min.js',
                callback: 'function(elm, data) {console.log("bottomAd"); $(elm).html(data.title)}'
            },
            info: {
                content: [
                    allData.customList,
                    allData.macroList.list,
                    allData.stockList.list,
                    allData.imarketsList.list,
                    allData.companyList.list,
                    allData.wemoneyList.list
                ],
                softAd: [{
                    url: '#',
                    title: '信息流软广',
                    type: 'ad',
                    custom: {
                        articleTag: '广告'
                    }
                }],
                hardAd: {
                    data: {
                        title: '硬广'
                    },
                    preload: 'http://y0.ifengimg.com/base/jQuery/jquery-1.9.1.min.js',
                    callback: 'function(elm, data) {console.log("bottomAd"); $(elm).html(data.title)}'
                }
            },
            cooperation: allData.cooperation,
            bottomAd: {
                data: {
                    title: '底部广告'
                },
                preload: 'http://y0.ifengimg.com/base/jQuery/jquery-1.9.1.min.js',
                callback: 'function(elm, data) {console.log("bottomAd"); $(elm).html(data.title)}'
            },
            footer: allData.footer,
            qrCode: allData.qrCode
        };

    </script>
    {{#each htmlWebpackPlugin.files.css}}
    <link href="{{path}}" rel="stylesheet"> 
    {{/each}}
    <!--[if lt IE 8]>
        <script>
            if (typeof document.querySelector === 'undefined') {
                document.querySelector = function (target) {
                    return document.getElementsByTagName(target)[0] || null;
                }
            }
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script>
            if (Object.defineProperty 
            && Object.getOwnPropertyDescriptor 
            && Object.getOwnPropertyDescriptor(Element.prototype, "textContent") 
            && !Object.getOwnPropertyDescriptor(Element.prototype, "textContent").get) {
            (function() {
                var innerText = Object.getOwnPropertyDescriptor(Element.prototype, "innerText");
                Object.defineProperty(Element.prototype, "textContent",
                // Passing innerText or innerText.get directly does not work,
                // wrapper function is required.
                {
                get: function() {
                    return innerText.get.call(this);
                },
                set: function(s) {
                    return innerText.set.call(this, s);
                }
                }
            );
            })();
            }
        </script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/es5-shim/4.5.10/es5-shim.min.js"></script>
        <script src="https://cdn.bootcss.com/es5-shim/4.5.10/es5-sham.min.js"></script>
        <script src="http://cdn.bootcss.com/console-polyfill/0.3.0/index.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="root"></div>
    <script src="/bj-report.js"></script>
    <script src="/bj-wrap.js"></script>
    <script>
        BJ_REPORT.init({
            namespace: 'shank', // 命名空间
            appname: 'web_channel_finance', // 项目名称
            url: "http://172.30.156.158:3000/api/error/upload"
        });

        BJ_REPORT.tryJs().spyAll();
    </script>

    {{#each htmlWebpackPlugin.files.js}}
    <script src="{{path}}" type="text/javascript"></script> {{/each}}
</body>

</html>