.h_find {
    width: 300px;
    float: right;
    padding: 0px 0 0;
    position: relative;
    z-index: 80;
    text-align: center;
    line-height: 26px;
    height: 26px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
