.recommend {
    composes: clearfix from global;
    margin-top: 15px;
    background: url(./tuij.jpg) no-repeat;
    height: 55px;
    overflow: hidden;
    & ul {
        height: 55px;
        width: 366px;
        padding-left: 35px;
        padding-top: 4px;
        overflow: hidden;
        & li {
            color: #486ea0;
            height: 24px;
            line-height: 24px;
            background: url(./dian01.jpg) no-repeat 0 center;
            padding-left: 12px;
            overflow: hidden;
            float: left;
            width: 170px;
        }
    }
}
