.box_fixed {
    /* background: url(${_box_imgUrl!'#'}) 0 0; */
    /* _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="${_box_imgUrl!'#'}" ,sizingMethod="crop"); */
    overflow: hidden;
}
.box_posr {
    position: relative;
}
.span_close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    z-index: 100;
}
.box_posr a {
    display: block;
    width: 1000px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
a {
    outline: none;
}
a:active {
    outline: none;
    /* star: expression(this.onFocus=this.blur()); */
}
