.box {
    overflow: hidden;
    padding-bottom: 9px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 15px;
    & .title {
        font-family: '微软雅黑';
        font-size: 20px;
        color: #2b2b2b;
        font-weight: normal;
        height: 28px;
        line-height: 28px;
        vertical-align: bottom;
        overflow: hidden;
        & a {
            color: #2b2b2b;
            font-weight: bold;
            text-decoration: none;
        }
        & a:hover {
            color: #f54343;
            text-decoration: none;
        }
    }
    & .text {
        margin-top: 7px;
        overflow: hidden;
        & h3 {
            font-size: 14px;
            color: #2b2b2b;
            height: 26px;
            line-height: 26px;
            font-weight: normal;
            vertical-align: bottom;
            overflow: hidden;
            & a {
                color: #2b2b2b;
            }
            & a:hover {
                color: #f54343;
            }
        }
    }
}
