.q_box {
    position: relative;
    padding: 12px 0 0 51px;
    height: 153px;
    background-color: #f8f7f3;
}
.zai_xian_da_yi {
    position: absolute;
    top: 0;
    left: 0;
}
/* 回答问题列表 */
.q_list {
    & p {
        float: left;
        margin-left: 18px;
        padding-top: 3px;
        width: 239px;
        line-height: 20px;
    }
}
.q_list_title {
    margin-bottom: 17px;
    padding-bottom: 8px;
    font: 18px '微软雅黑';
    line-height: 20px;
    border-bottom: 3px solid #34b395;
    & a {
        color: #34b395;
        &:hover {
            text-decoration: none;
        }
    }
}
.q_list_group {
    margin-bottom: 17px;
}
.icon_q, .icon_a {
    display: block;
    float: left;
    width: 27px;
    height: 27px;
}
.t7 {
    margin-top: 7px;
}
.icon_q {
    background-image: url('./icon-q.jpg');
}
.icon_a {
    background-image: url('./icon-a.jpg');
}
.b30 {
    margin-bottom: 30px;
}
.b37 {
    margin-bottom: 37px;
}
.one_line {
    overflow: hidden;
    white-space: nowrap;
}