.box {
    margin-top: 30px;
    overflow: hidden;
    border-top: 1px solid #e7e7e7;
    padding-top: 10px;
}

.title {
    position: relative;
    width: 400px;
    height: 18px;
}

.date {
    width: 72px;
    height: 16px;
    display: block;
    float: left;
    background: url('./datenew.jpg') no-repeat;
}

.list_top {
    margin-top: 11px;
}

.list_middle {
    margin-top: 21px;
}

.list_bottom {
    margin-top: 21px;
}
