.customStock_box {
    composes: clearfix from global;
    margin-top: 18px;
    overflow: hidden;
    & .table {
        width: 400px;
        height: 73px;
        float: left;
        & .tabs {
            width: 400px;
            & tbody tr {
                & .tab {
                    background: #fdebeb;
                    border-bottom: solid 1px #fccfd0;
                    height: 24px;
                    line-height: 24px;
                    color: #666;
                }
                & .item {
                    height: 24px;
                    line-height: 24px;
                    color: #666;
                }
                & .red {
                    color: #f54343;
                }
                & .green {
                    color: #54b59c;
                }
                & .black {
                    color: #222;
                }
            }
        }
    }
    & .btn {
        float: left;
        width: 98px;
        padding-left: 19px;
        & .login {
            cursor: pointer;
            padding: 3px 13px;
            color: #fff;
            background: #f54343;
            display: block;
            float: left;
            & a {
                padding: 3px 0px;
                color: #fff;
            }
        }
        & .tip {
            color: #666666;
            text-align: center;
            padding-top: 8px;
            display: block;
            float: left;
        }
    }
}
