.bannerPic {
    width: 400px;
    height: 230px;
    position: relative;
    overflow: hidden;
    margin-top: 19px;
    & [ifeng_ui_pc_sliders-dots] {
        position: absolute;
        right: 5px;
        bottom: 15px;
        height: 3px;
        line-height: 3px;
        z-index: 10;
        left: 0;
        text-align: right;
        font-size: 0;
    }
}

.current {
    background: #ff2838 !important;
}

.pic_img {
    width: 400px;
    height: 230px;
    overflow: hidden;
    & img {
        display: block;
    }
}

.trans {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-backface-visibility: hidden;
}

.trans:hover {
    transform: scale(1.04, 1.04);
    -ms-transform: scale(1.04, 1.04);
    -webkit-transform: scale(1.04, 1.04);
}

.text {
    width: 400px;
    height: 34px;
    background: #000;
    position: absolute;
    bottom: 0px;
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    opacity: 0.75;
}

.title {
    font-size: 14px;
    text-indent: 10px;
    width: 300px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    bottom: 0px;
    & a {
        color: #fff;
        font-family: '微软雅黑';
        font-size: 14px;
    }
}
