.caption {
    composes: clearfix from global;
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 6px;
    & h4 {
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        float: left;
        & a {
            color: #f54343;
            font-family: '微软雅黑';
            font-size: 22px;
            text-decoration: none;
        }
    }
}

.sub_title {
    float: left;
    height: 30px;
    line-height: 38px;
    margin-left: 29px;
    overflow: hidden;
    & a {
        color: #222222;
        margin-right: 13px;
    }
    & a:hover {
        color: #f54343;
    }
}
