.list{
    display: block;
}

/* 点击查看更多新闻 */
.more{ width: 640px; height: 16px; line-height: 16px; text-align: center; background: url(./more.jpg) no-repeat 368px center; cursor: pointer; margin-top: 30px;
    & a{ font-size: 14px; color: #999999;text-decoration: none;}
}
