.hot_spots {
    width: 1000px;
    margin: 0 auto;
    & .col_L {
        width: 400px;
        float: left;
        margin-right: 30px;
        overflow: hidden;
        & .box {
            position: relative;
            padding-bottom: 1px;
            overflow: hidden;
            margin-top: 14px;
        }
        & .ad {
            overflow: hidden;
            margin-top: 18px;
            & .ad_box {
                clear: both;
                position: relative;
                margin: 0 auto;
                text-align: center;
                width: 400px;
                height: 150px;
                line-height: 150px;
            }
        }
    }
    & .col_R {
        width: 570px;
        float: left;
        overflow: hidden;
        & .data_box {
            border-bottom: 1px solid #e7e7e7;
        }
    }
}
