.dayStock {
    width: 300px;
    overflow: hidden;
}

.title {
    composes: clearfix from global;
    height: 28px;
    margin-bottom: 5px;
    line-height: 21px;
    position: relative;
    border-top: 1px solid #222222;
    padding-top: 9px;
    & h4 {
        width: 115px;
        height: 26px;
        line-height: 21px;
        margin-right: 5px;
        overflow: hidden;
        float: left;
        & a {
            font-family: '微软雅黑';
            font-size: 22px;
            color: #2b2b2b;
            text-decoration: none;
            font-weight: bold;
        }
    }
}

.list {
    width: 300px;
    overflow: hidden;
    height: 166px;
    margin-bottom: 3px;
    & ul li {
        width: 300px;
        height: 166px;
        padding: 0px;
        margin: 0px;
        list-style: none;
    }
}

.pic {
    position: relative;
    width: 300px;
    height: 166px;
}

.link {
    position: absolute;
    left: 125px;
    top: 58px;
    width: 51px;
    height: 51px;
    background: url(./link.png) no-repeat;
}

.trans {
    transition: all 0.3s ease;
}

.trans:hover {
    transform: scale(1.04, 1.04);
}
