.search_box {
    position: relative;
    float: right;
    padding-right: 66px;
    margin-top: 29px;
}
.search_text {
    position: relative;
    padding: 0 10px;
    width: 173px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #fff;
    color: #fff;
    background: #64d4bb;
}
.sousuo_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 67px;
    height: 27px;
    border: none;
    background-color: transparent;
    background-image: url('./sousuo-btn.jpg');
    cursor: pointer;
}
.search_text,
.sousuo_btn {
    &:focus {
        z-index: 1;
    }
}
