.calender {
    padding: 12px;
    background: #f8f7f3;
}
.tools {
    position: relative;
    padding-bottom: 18px;
    padding-top: 5px;
    color: #35b294;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.btn {
    position: absolute;
    top: 5px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    background-repeat: no-repeat;
    background-position: center center;
}
.btn_left {
    left: 10px;
    background-image: url('./left.jpg');
}  
.btn_right {
    right: 10px;
    background-image: url('./right.jpg');
}
.dataTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #fff;
    & th, & td {
        width: 14.28%;
        height: 35px;
        text-align: center;
        font: 12px Arial;
        font-weight: bold;
        &:hover {
            background-color: #999;
            & a {
                color: #fff;
            }
        }
    }
    & th {
        border-bottom: 1px solid #ccc;
        color: #ccc;
    }
    & td {
        border: 1px solid #ccc;
    }
    & a {
        cursor: pointer;
    }
}
.current {
    background-color: #35c2a3;
    & a {
        color: #fff;
    }
}