.info {
    margin-top: 12px;
    width: 642px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.more {
    margin-top: 22px;
    width: 640px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    background: url(./more.jpg) no-repeat 368px center;
    cursor: pointer;
    font-size: 14px;
    color: #999999;
}

.all {
    margin-top: 22px;
    width: 640px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    color: #999999;
}

.hardAd {
    width: 640px;
    height: 90px;
    padding: 0px;
    margin: 18px 0 10px;
    text-align: center;
    border: 1px solid #ccc;
}
