.title {
    height: 29px;
    & a {
        font-size: 16px;
        color: #2b2b2b;
        text-decoration: none;
        font-family: '微软雅黑';
        font-weight: bold;
    }
    & span {
        float: right;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        color: #666666;
        font-weight: normal;
        line-height: 25px;
    }
}
