.tabs {
    position: relative;
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
    & li {
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        text-align: center;
        background: #fafafa;
        width: 60px;
        float: left;
        cursor: pointer;
        color: #2b2b2b;
        text-decoration: none;
    }
    & li.current {
        background: #f54343;
        color: #fff;
    }
}
