.newsList {
    background: url(./list04_8cd286d3.gif) repeat-y 11px top;
    & li {
        background: url(./list05_0fc7c42c.gif) no-repeat;
        padding-left: 40px;
        margin-top: 14px;
    }

    & h4 {
        font-family: Microsoft YaHei;
        font-size: 20px;
        color: #2a2a2a;
        & a {
            color: #2a2a2a;
        }
    }
    & p {
        color: #2a2a2a;
        line-height: 22px;
        margin-top: 12px;
    }
    & .by {
        float: left;
        margin-right: 20px;
    }
    & .date {
        background: url(./list06_08ae4065.gif) no-repeat left center;
        padding-left: 20px;
        float: left;
    }

    & .pl {
        background: url(./list07_5485288d.gif) no-repeat left center;
        padding-left: 20px;
        float: right;
        & a {
            color: #999;
        }
    }
    & .l_on {
        background: url(./list05_on_d2d9b73a.gif) no-repeat;
        & h4 {
            & a {
                color: #f54343;
                text-decoration: none;
            }
        }
    }
}

.xx {
    composes: clearfix from global;
    color: #999;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-top: 10px;
}
