.box_02_pic a img {
    display: block;
    width: 90px;
    float: left;
    margin-right: 13px;
    margin-top: 1px;
    border: 1px solid #e7e7e7;
}
.box_02_word {
    height: 72px;
    overflow: hidden;
    *height: 71px;
    _height: 70px;
}
.box_02_word h3 {
    line-height: 24px;
}
.box_02 .box_02_word h3 a {
    color: #2b2b2b;
    font-size: 16px;
    font-weight: bold;
    font-family: Microsoft YaHei;
}
.box_02_word h3 a:hover {
    color: #f54343;
    text-decoration: none;
}
.box_02_word p {
    width: 112px;
    float: left;
    color: #999999;
    line-height: 24px;
    height: 20px;
    padding-right: 15px;
}
.box_02 {
    padding-top: 6px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 22px;
    margin-bottom: 18px;
}
.box_02 .bor_none {
    border-bottom: none;
}
.box_02 li {
    line-height: 28px;
    background: url(http://y0.ifengimg.com/a/2013/0930/c_04.png) left center no-repeat;
    padding-left: 12px;
    height: 28px;
    overflow: hidden;
}
.b_box .box_02 li a {
    color: #2b2b2b;
    font-size: 14px;
}
.box_02 li a:hover {
    color: #f54343;
}

.title a {
    font-size: 16px;
    color: #f54343;
    text-decoration: none;
    font-family: Microsoft YaHei;
    display: block;
    position: relative;
    padding-left: 17px;
    padding-bottom: 7px;
    text-decoration: none;
}
.title a {
    background: url(http://ued.ifeng.com/test/songbb/finance_managing/images/c_08.png) 36px 5px no-repeat;
    padding-left: 0px;
}

.hyh {
    position: absolute;
    right: 0px;
    bottom: 10px;
    background: url(http://ued.ifeng.com/test/songbb/finance_managing/images/hyh.png) no-repeat;
    width: 51px;
    height: 24px;
    cursor: pointer;
    display: none;
}

.huh_box {
    position: relative;
}
.huh_box:hover {
    & .hyh {
        display: block;
    }
}
