.title_box {
    margin-bottom: 10px;
    height: 32px;
    border-bottom: 3px solid #34b395;
    color: #34b395;
}
.title {
    float: left;
    width: 135px;
    font: 18px '微软雅黑';
}
.btn {
    margin: 3px 4px 0 0;
    width: 68px;
    height: 32px;
    font: 12px '宋体';
    border-top: #34b395 solid 1px;
    border-left: #34b395 solid 1px;
    border-right: #34b395 solid 1px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    outline: none;
    cursor: pointer;
    border-bottom-color: #34b395;
    background-color: #34b395;
    color: #fff;
    &.selected {
        border-bottom-color: #f4efe9;
        background-color: transparent;
        color: #34b395;
    }
}
.news_list {
    margin-bottom: 20px;
    padding-left: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    & li {
        height: 30px;
        line-height: 30px;
    }
    & span {
        display: inline-block;
        margin-right: 10px;
        width: 16px;
        height: 23px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #34b395;
        text-align: left;
    }
}
