.czj {
    composes: clearfix from global;
    margin-top: 14px;
    & input {
        margin-right: 5px;
        width: 119px;
        height: 20px;
        line-height: 20px;
        float: left;
        border: 1px solid #dddddd;
        padding-left: 5px;
    }
    & .input_02 {
        color: #999;
    }
    & a {
        display: block;
        width: 50px;
        height: 22px;
        line-height: 22px;
        overflow: hidden;
        background: url(./g_05.png) no-repeat;
        border: none;
        text-align: center;
        color: #666666;
        cursor: pointer;
        float: left;
        text-decoration: none;
    }
    & .chq {
        margin-right: 5px;
    }
}
