.linkList {
    padding: 8px 0px 17px;
    & ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
        & li {
            line-height: 24px;
            background: url(./g_12.png) no-repeat left center;
            padding-left: 12px;
            float: left;
            width: 132px;
            margin-right: 5px;
            overflow: hidden;
            & a {
                color: #2b2b2b;
                font-size: 12px;
            }
            & a:hover {
                color: #f54343;
            }
        }
    }
}
