.space40 {
    border-top: 1px solid #cdcdcd;
    clear: both;
    height: 40px;
    line-height: 0;
    font-size: 0;
    width: 100%;
    margin-top: 10px;
}

.wrapper {
    overflow: hidden;
}

.layout {
    composes: clearfix from global;
    width: 1000px;
    margin: 0 auto;
}

.hot {
    float: left;
    display: none;
    width: 240px;
}

.right {
    float: right;
    width: 1000px;
}

.main {
    float: left;
    width: 640px;
}

.aside {
    float: right;
    width: 300px;
}


@media (min-width: 1250px) {
    .layout {
        width: 1240px;
    }
    .hot {
        display: block;
    }
}