<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="always" name="referrer">
    <title></title>
    <script>
        var __jsonData__ = <%- JSON.stringify(allData) %>;
        var jsonData = {
            nav: [{
                url: '//www.ifeng.com/',
                title: '首页'
            }, {
                url: '//news.ifeng.com/',
                title: '资讯'
            }, {
                url: '//v.ifeng.com/',
                title: '视频'
            }, {
                url: '//zhibo.ifeng.com/',
                title: '直播'
            }, {
                url: '//finance.ifeng.com/',
                title: '财经'
            }, {
                url: '//ent.ifeng.com/',
                title: '娱乐'
            }, {
                url: '//sports.ifeng.com/',
                title: '体育'
            }, {
                url: '//fashion.ifeng.com/',
                title: '时尚'
            }, {
                url: '//auto.ifeng.com/',
                title: '汽车'
            }, {
                url: '//house.ifeng.com/',
                title: '房产'
            }, {
                url: '//tech.ifeng.com/',
                title: '科技'
            }, {
                url: '//book.ifeng.com/',
                title: '读书'
            }, {
                url: '//games.ifeng.com/',
                title: '游戏'
            }, {
                url: '//culture.ifeng.com/',
                title: '文化'
            }, {
                url: '//news.ifeng.com/history/',
                title: '历史'
            }, {
                url: '//news.ifeng.com/mil/',
                title: '军事'
            }, {
                url: '//lehuo.ifeng.com/',
                title: '乐活'
            }, {
                url: '//fo.ifeng.com/',
                title: '佛教'
            }],
            navMore: [{
                url: '//travel.ifeng.com/',
                title: '旅游'
            }, {
                url: '//imall.ifeng.com/',
                title: '匠选'
            }, {
                url: '//guoxue.ifeng.com/',
                title: '国学'
            }, {
                url: '//digi.ifeng.com/',
                title: '数码'
            }, {
                url: '//health.ifeng.com/',
                title: '健康'
            }, {
                url: '//home.ifeng.com/',
                title: '家居'
            }, {
                url: '//cp.ifeng.com/?aid=45',
                title: '彩票'
            }, {
                url: '//gongyi.ifeng.com/',
                title: '公益'
            }, {
                url: '//jiu.ifeng.com/',
                title: '酒业'
            }, {
                url: '//dol.deliver.ifeng.com/c?z=ifeng&amp;la=0&amp;si=2&amp;cg=1&amp;c=1&amp;ci=2&amp;or=7549&amp;l=28704&amp;bg=28703&amp;b=37275&amp;u=http://audi-future.ifeng.com/',
                title: '未来'
            }],
            topAdExtend: '<a href="http://news.ifeng.com/listpage/106193/1/list.shtml" target="_blank"><img src="http://p1.ifengimg.com/a/2018_12/e59ec99f4f6468b.gif" alt="FUN来了"></a>',
            topAd: '顶部广告',
            logo: {
                url: '//finance.ifeng.com/',
                title: '凤凰网财经',
                src: '//p0.ifengimg.com/37780e23b9ea2d8b/2017/38/logoFinance.png',
                width: 161,
                height: 27
            },
            breadcrumb: [{
                url: '//finance.ifeng.com/',
                title: '凤凰网财经'
            }, {
                url: '//finance.ifeng.com/gold/',
                title: 'iMarkets'
            }, {
                url: '//finance.ifeng.com/listpage/794/1/list.shtml',
                title: 'INEWS'
            }],
            hot: [{
                title: '1迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '2迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '3迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '4迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '5迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '6迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '7迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '8迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '9迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '10迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '11迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '12迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '13迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '14迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '15迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '16迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '17迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '18迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '19迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '20迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '21迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '22迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '23迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '24迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '25迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '26迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '27迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '28迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '29迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '30迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '31迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '32迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }, {
                title: '33迷你世界联机：抢凳子小游戏 汤米不小心被淘汰',
                url: '//v.ifeng.com/video_9555522.shtml?_cpb_remenwz1'
            }],
            article: {
                article_topic: '媒体：中国按对等报复原则对美加征关税清单接近完成',
                datePublished: '2018-03-28 07:02:47',
                source_title: '环球网',
                source_url: 'http://opinion.huanqiu.com/editorial/2018-03/11701880.html',
                editor: '葛瑶 PF027',
                contents: [{
                    type: 'video',
                    guid: 'xxxxxxxxx',
                }, {
                    type: 'text',
                    content: '<p>美国方面最早可能在当地时间星期二就公布根据301调查对中国商品大规模加征关税的具体清单。该清单的出台严重违反WTO规则和贸易互惠原则，将是美国在错误道路上迈出的又一步。</p><p>美国方面最早可能在当地时间星期二就公布根据301调查对中国商品大规模加征关税的具体清单。该清单的出台严重违反WTO规则和贸易互惠原则，将是美国在错误道路上迈出的又一步。</p><p>美国方面最早可能在当地时间星期二就公布根据301调查对中国商品大规模加征关税的具体清单。该清单的出台严重违反WTO规则和贸易互惠原则，将是美国在错误道路上迈出的又一步。</p><p>美国方面最早可能在当地时间星期二就公布根据301调查对中国商品大规模加征关税的具体清单。该清单的出台严重违反WTO规则和贸易互惠原则，将是美国在错误道路上迈出的又一步。</p><p>美国方面最早可能在当地时间星期二就公布根据301调查对中国商品大规模加征关税的具体清单。该清单的出台严重违反WTO规则和贸易互惠原则，将是美国在错误道路上迈出的又一步。</p><p>美国方面最早可能在当地时间星期二就公布根据301调查对中国商品大规模加征关税的具体清单。该清单的出台严重违反WTO规则和贸易互惠原则，将是美国在错误道路上迈出的又一步。</p>'
                }, {
                    type: 'video',
                    guid: 'xxxxxxxxx',
                }, {
                    type: 'text',
                    content: '<p>美国方面最早可能在当地时间星期二就公布根据301调查对中国商品大规模加征关税的具体清单。该清单的出台严重违反WTO规则和贸易互惠原则，将是美国在错误道路上迈出的又一步。</p><p>美国方面最早可能在当地时间星期二就公布根据301调查对中国商品大规模加征关税的具体清单。该清单的出台严重违反WTO规则和贸易互惠原则，将是美国在错误道路上迈出的又一步。</p><p>美国方面最早可能在当地时间星期二就公布根据301调查对中国商品大规模加征关税的具体清单。该清单的出台严重违反WTO规则和贸易互惠原则，将是美国在错误道路上迈出的又一步。</p><p>美国方面最早可能在当地时间星期二就公布根据301调查对中国商品大规模加征关税的具体清单。该清单的出台严重违反WTO规则和贸易互惠原则，将是美国在错误道路上迈出的又一步。</p><p>美国方面最早可能在当地时间星期二就公布根据301调查对中国商品大规模加征关税的具体清单。该清单的出台严重违反WTO规则和贸易互惠原则，将是美国在错误道路上迈出的又一步。</p><p>美国方面最早可能在当地时间星期二就公布根据301调查对中国商品大规模加征关税的具体清单。该清单的出台严重违反WTO规则和贸易互惠原则，将是美国在错误道路上迈出的又一步。</p>'
                }]
            },
            qrCode: ['//p3.ifengimg.com/a/2017/0822/ef1f8f1ad492125size20_w160_h214.jpg'],
            articleAd: '文章下部广告',
            recommendArtical: `
<style>
    .rec {
        font-size: 14px;
        background: #f7f7f7;
        height: 41px;
        line-height: 41px;
        text-indent: 1em;
        border-top: 1px solid #fff;
    }
</style>
<div class="rec">
    <a href="http://ds.ifeng.com/" target="_blank">
        百万现金争夺赛3月30日共发28万现金奖 1人独享3万 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </a>
    <a href="http://finance.ifeng.com/a/20180330/16052987_0.shtml" target="_blank">
        热身赛将于4月2日正式开启
    </a>
</div>
            `,
            admid1:'中部广告1',
            admid2:'中部广告2',
            recommendMid: [{
                title: '中国拟对这些美国进口产品加征关税（附清单）',
                url: '//finance.ifeng.com/a/20180330/16052351_0.shtml?_cpb_xinxiliu_pdtj',
                source: '黑河青年',
                time: '03-26',
                docUrl: 'sub_53893599',
                skey: 'e40574'
            },{
                title: '中国拟对这些美国进口产品加征关税（附清单）',
                url: '//finance.ifeng.com/a/20180330/16052351_0.shtml?_cpb_xinxiliu_pdtj',
                source: '黑河青年',
                time: '03-26',
                docUrl: 'sub_53893599',
                skey: 'e40574',
                pic: 'http://d.ifengimg.com/w160_h90/p0.ifengimg.com/pmop/2018/0326/B31562DF605338259362EF52E6771366B7E649DE_size28_w496_h280.jpeg'
            },{
                title: '中国拟对这些美国进口产品加征关税（附清单）',
                url: '//finance.ifeng.com/a/20180330/16052351_0.shtml?_cpb_xinxiliu_pdtj',
                source: '黑河青年',
                time: '03-26',
                docUrl: 'sub_53893599',
                skey: 'e40574',
                pic: 'http://d.ifengimg.com/w160_h90/p0.ifengimg.com/pmop/2018/0326/B31562DF605338259362EF52E6771366B7E649DE_size28_w496_h280.jpeg'

            },{
                title: '中国拟对这些美国进口产品加征关税（附清单）',
                url: '//finance.ifeng.com/a/20180330/16052351_0.shtml?_cpb_xinxiliu_pdtj',
                source: '黑河青年',
                time: '03-26',
                docUrl: 'sub_53893599',
                skey: 'e40574',
                pic: 'http://d.ifengimg.com/w160_h90/p0.ifengimg.com/pmop/2018/0326/B31562DF605338259362EF52E6771366B7E649DE_size28_w496_h280.jpeg'

            },{
                title: '中国拟对这些美国进口产品加征关税（附清单）',
                url: '//finance.ifeng.com/a/20180330/16052351_0.shtml?_cpb_xinxiliu_pdtj',
                source: '黑河青年',
                time: '03-26',
                docUrl: 'sub_53893599',
                skey: 'e40574',
                pic: 'http://d.ifengimg.com/w160_h90/p0.ifengimg.com/pmop/2018/0326/B31562DF605338259362EF52E6771366B7E649DE_size28_w496_h280.jpeg'

            },{
                title: '中国拟对这些美国进口产品加征关税（附清单）',
                url: '//finance.ifeng.com/a/20180330/16052351_0.shtml?_cpb_xinxiliu_pdtj',
                source: '黑河青年',
                time: '03-26',
                docUrl: 'sub_53893599',
                skey: 'e40574',
                pic: 'http://d.ifengimg.com/w160_h90/p0.ifengimg.com/pmop/2018/0326/B31562DF605338259362EF52E6771366B7E649DE_size28_w496_h280.jpeg'

            },{
                title: '中国拟对这些美国进口产品加征关税（附清单）',
                url: '//finance.ifeng.com/a/20180330/16052351_0.shtml?_cpb_xinxiliu_pdtj',
                source: '黑河青年',
                time: '03-26',
                docUrl: 'sub_53893599',
                skey: 'e40574',
                pic: 'http://d.ifengimg.com/w160_h90/p0.ifengimg.com/pmop/2018/0326/B31562DF605338259362EF52E6771366B7E649DE_size28_w496_h280.jpeg'

            },{
                title: '中国拟对这些美国进口产品加征关税（附清单）',
                url: '//finance.ifeng.com/a/20180330/16052351_0.shtml?_cpb_xinxiliu_pdtj',
                source: '黑河青年',
                time: '03-26',
                docUrl: 'sub_53893599',
                skey: 'e40574',
                pic: 'http://d.ifengimg.com/w160_h90/p0.ifengimg.com/pmop/2018/0326/B31562DF605338259362EF52E6771366B7E649DE_size28_w496_h280.jpeg'

            },{
                title: '中国拟对这些美国进口产品加征关税（附清单）',
                url: '//finance.ifeng.com/a/20180330/16052351_0.shtml?_cpb_xinxiliu_pdtj',
                source: '黑河青年',
                time: '03-26',
                docUrl: 'sub_53893599',
                skey: 'e40574',
                pic: 'http://d.ifengimg.com/w160_h90/p0.ifengimg.com/pmop/2018/0326/B31562DF605338259362EF52E6771366B7E649DE_size28_w496_h280.jpeg'

            },{
                title: '中国拟对这些美国进口产品加征关税（附清单）',
                url: '//finance.ifeng.com/a/20180330/16052351_0.shtml?_cpb_xinxiliu_pdtj',
                source: '黑河青年',
                time: '03-26',
                docUrl: 'sub_53893599',
                skey: 'e40574',
                pic: 'http://d.ifengimg.com/w160_h90/p0.ifengimg.com/pmop/2018/0326/B31562DF605338259362EF52E6771366B7E649DE_size28_w496_h280.jpeg'

            },{
                title: '中国拟对这些美国进口产品加征关税（附清单）',
                url: '//finance.ifeng.com/a/20180330/16052351_0.shtml?_cpb_xinxiliu_pdtj',
                source: '黑河青年',
                time: '03-26',
                docUrl: 'sub_53893599',
                skey: 'e40574',
                pic: 'http://d.ifengimg.com/w160_h90/p0.ifengimg.com/pmop/2018/0326/B31562DF605338259362EF52E6771366B7E649DE_size28_w496_h280.jpeg'

            },{
                title: '中国拟对这些美国进口产品加征关税（附清单）',
                url: '//finance.ifeng.com/a/20180330/16052351_0.shtml?_cpb_xinxiliu_pdtj',
                source: '黑河青年',
                time: '03-26',
                docUrl: 'sub_53893599',
                skey: 'e40574',
                pic: 'http://d.ifengimg.com/w160_h90/p0.ifengimg.com/pmop/2018/0326/B31562DF605338259362EF52E6771366B7E649DE_size28_w496_h280.jpeg'

            },{
                title: '中国拟对这些美国进口产品加征关税（附清单）',
                url: '//finance.ifeng.com/a/20180330/16052351_0.shtml?_cpb_xinxiliu_pdtj',
                source: '黑河青年',
                time: '03-26',
                docUrl: 'sub_53893599',
                skey: 'e40574',
                pic: 'http://d.ifengimg.com/w160_h90/p0.ifengimg.com/pmop/2018/0326/B31562DF605338259362EF52E6771366B7E649DE_size28_w496_h280.jpeg'

            },{
                title: '中国拟对这些美国进口产品加征关税（附清单）',
                url: '//finance.ifeng.com/a/20180330/16052351_0.shtml?_cpb_xinxiliu_pdtj',
                source: '黑河青年',
                time: '03-26',
                docUrl: 'sub_53893599',
                skey: 'e40574',
                pic: 'http://d.ifengimg.com/w160_h90/p0.ifengimg.com/pmop/2018/0326/B31562DF605338259362EF52E6771366B7E649DE_size28_w496_h280.jpeg'

            },{
                title: '中国拟对这些美国进口产品加征关税（附清单）',
                url: '//finance.ifeng.com/a/20180330/16052351_0.shtml?_cpb_xinxiliu_pdtj',
                source: '黑河青年',
                time: '03-26',
                docUrl: 'sub_53893599',
                skey: 'e40574',
                pic: 'http://d.ifengimg.com/w160_h90/p0.ifengimg.com/pmop/2018/0326/B31562DF605338259362EF52E6771366B7E649DE_size28_w496_h280.jpeg'

            },{
                title: '中国拟对这些美国进口产品加征关税（附清单）',
                url: '//finance.ifeng.com/a/20180330/16052351_0.shtml?_cpb_xinxiliu_pdtj',
                source: '黑河青年',
                time: '03-26',
                docUrl: 'sub_53893599',
                skey: 'e40574',
                pic: 'http://d.ifengimg.com/w160_h90/p0.ifengimg.com/pmop/2018/0326/B31562DF605338259362EF52E6771366B7E649DE_size28_w496_h280.jpeg'

            },{
                title: '中国拟对这些美国进口产品加征关税（附清单）',
                url: '//finance.ifeng.com/a/20180330/16052351_0.shtml?_cpb_xinxiliu_pdtj',
                source: '黑河青年',
                time: '03-26',
                docUrl: 'sub_53893599',
                skey: 'e40574',
                pic: 'http://d.ifengimg.com/w160_h90/p0.ifengimg.com/pmop/2018/0326/B31562DF605338259362EF52E6771366B7E649DE_size28_w496_h280.jpeg'

            },{
                title: '中国拟对这些美国进口产品加征关税（附清单）',
                url: '//finance.ifeng.com/a/20180330/16052351_0.shtml?_cpb_xinxiliu_pdtj',
                source: '黑河青年',
                time: '03-26',
                docUrl: 'sub_53893599',
                skey: 'e40574',
                pic: 'http://d.ifengimg.com/w160_h90/p0.ifengimg.com/pmop/2018/0326/B31562DF605338259362EF52E6771366B7E649DE_size28_w496_h280.jpeg'

            }],
            adGameMid: {
                data: '广告内容',
                preload: 'http://y0.ifengimg.com/base/jQuery/jquery-1.9.1.min.js',
                callback: 'function(elm) {console.log(123); $(elm).html($(elm).attr("[data-content]"))}'
            },
            admid3: '底部广告位',
            adaside1: '侧栏广告1',
            adaside2: '侧栏广告2',
            adaside3: '侧栏广告3',
            adaside4: '侧栏广告4',
            adaside5: '侧栏广告5',
            adaside6: '侧栏广告6',
            adaside7: '侧栏广告7',
            adaside8: '侧栏广告8',
            adaside9: '侧栏广告9',
            adaside10: '侧栏广告10',
            adaside11: '侧栏广告11',
            channelRecommand: [{
                url: '//finance.ifeng.com/a/20180330/16052318_0.shtml?_cpb_pindaotj1',
                title: '特朗普到底在怕什么？',
                time: '2018-03-30 06:49:13'
            },{
                url: '//finance.ifeng.com/a/20180330/16052337_0.shtml?_cpb_pindaotj2',
                title: '证金成13家券商十大股东 四季度增持9只券商股',
                time: '2018-03-30 06:49:13'
            },{
                url: '//finance.ifeng.com/a/20180330/16052337_0.shtml?_cpb_pindaotj2',
                title: '证金成13家券商十大股东 四季度增持9只券商股',
                time: '2018-03-30 06:49:13'
            },{
                url: '//finance.ifeng.com/a/20180330/16052337_0.shtml?_cpb_pindaotj2',
                title: '证金成13家券商十大股东 四季度增持9只券商股',
                time: '2018-03-30 06:49:13'
            },{
                url: '//finance.ifeng.com/a/20180330/16052337_0.shtml?_cpb_pindaotj2',
                title: '证金成13家券商十大股东 四季度增持9只券商股',
                time: '2018-03-30 06:49:13'
            },{
                url: '//finance.ifeng.com/a/20180330/16052337_0.shtml?_cpb_pindaotj2',
                title: '证金成13家券商十大股东 四季度增持9只券商股',
                time: '2018-03-30 06:49:13'
            },{
                url: '//finance.ifeng.com/a/20180330/16052337_0.shtml?_cpb_pindaotj2',
                title: '证金成13家券商十大股东 四季度增持9只券商股',
                time: '2018-03-30 06:49:13'
            },{
                url: '//finance.ifeng.com/a/20180330/16052337_0.shtml?_cpb_pindaotj2',
                title: '证金成13家券商十大股东 四季度增持9只券商股',
                time: '2018-03-30 06:49:13'
            }],
            videoRecommand: [{
                url:'//v.ifeng.com/video_13111653.shtml?_cpb_sp&amp;_cpb_tjsp1',
                pic: '//p1.ifengimg.com/a/2018_13/5dd38934771e344.jpg',
                title: '与高云翔涉性侵案男子非导演王晶：今日有发布会',
                count: 5808920
            },{
                url:'//v.ifeng.com/video_13111653.shtml?_cpb_sp&amp;_cpb_tjsp1',
                pic: '//p1.ifengimg.com/a/2018_13/5dd38934771e344.jpg',
                title: '与高云翔涉性侵案男子非导演王晶：今日有发布会',
                count: 5808920
            },{
                url:'//v.ifeng.com/video_13111653.shtml?_cpb_sp&amp;_cpb_tjsp1',
                pic: '//p1.ifengimg.com/a/2018_13/5dd38934771e344.jpg',
                title: '与高云翔涉性侵案男子非导演王晶：今日有发布会',
                count: 5808920
            },{
                url:'//v.ifeng.com/video_13111653.shtml?_cpb_sp&amp;_cpb_tjsp1',
                pic: '//p1.ifengimg.com/a/2018_13/5dd38934771e344.jpg',
                title: '与高云翔涉性侵案男子非导演王晶：今日有发布会',
                count: 5808920
            }],
            wealthRecommand: [{
                url:'//finance.ifeng.com/a/20150924/13993029_0.shtml?_cpb_tjtw1',
                pic: '//y0.ifengimg.com/a/2015_39/30cafc3abbb7013.jpg',
                title: '战火锻造的富兰克林家族',
                count: 1378761
            },{
                url:'//finance.ifeng.com/a/20150924/13993029_0.shtml?_cpb_tjtw1',
                pic: '//y0.ifengimg.com/a/2015_39/30cafc3abbb7013.jpg',
                title: '战火锻造的富兰克林家族',
                count: 1378761
            },{
                url:'//finance.ifeng.com/a/20150924/13993029_0.shtml?_cpb_tjtw1',
                pic: '//y0.ifengimg.com/a/2015_39/30cafc3abbb7013.jpg',
                title: '战火锻造的富兰克林家族',
                count: 1378761
            },{
                url:'//finance.ifeng.com/a/20150924/13993029_0.shtml?_cpb_tjtw1',
                pic: '//y0.ifengimg.com/a/2015_39/30cafc3abbb7013.jpg',
                title: '战火锻造的富兰克林家族',
                count: 1378761
            }],
            wirelessRecommand: [{
                url: '//www.yc.ifeng.com/book/3029655/1/?cid=31311',
                pic: '//d.ifengimg.com/w140_h100/p2.ifengimg.com/a/2018_06/7ed512321ce9f6e.jpg',
                title: '他半夜值班发现诡异事'
            },{
                url: '//www.yc.ifeng.com/book/3029655/1/?cid=31311',
                pic: '//d.ifengimg.com/w140_h100/p2.ifengimg.com/a/2018_06/7ed512321ce9f6e.jpg',
                title: '他半夜值班发现诡异事'
            }],
            footer: `
<style>
    .footer {
        width: 1000px;
        margin: 0 auto;
        border-top: 1px solid #ccc
    }

    .footer a {
        color: #000;
        font-size: 12px;
        text-decoration: none
    }

    .footer a:hover {
        color: #f54343;
        text-decoration: underline
    }

    .footer .footlink {
        position: relative;
        height: 28px;
        padding-top: 15px;
        border-top: 1px solid #fff;
        overflow: hidden;
        color: #000;
        line-height: 28px;
        font-size: 12px
    }

    .footer .fk_l {
        text-align: center;
    }

    .footer .fk_r {
        position: absolute;
        width: 100px;
        right: 0;
        top: 15px;
    }

    .footer .fk_l a {
        padding: 0 7px;
        border-right: 1px solid #000
    }

    .footer .fk_l .nolpad {
        padding-left: 0
    }

    .footer .fk_l .noborder {
        border: none
    }

    .footer .fk_r ul {
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style: none
    }

    .footer .fk_r ul li {
        float: left;
        height: 28px;
        overflow: hidden
    }

    .footer .fk_r ul .l_bg001 {
        background: url(http://p2.ifengimg.com/a/2016_21/nav0416_14_fd540caa-fd540caadc.gif) no-repeat left 9px;
        padding-left: 19px
    }

    .footer .fk_r ul .l_bg002 {
        background: url(http://p2.ifengimg.com/a/2016_21/nav0416_17-68c300b50b.gif) no-repeat left 9px;
        padding-left: 17px;
        margin-left: 18px
    }

    .footer .copyright {
        font-family: Arial, "宋体";
        color: #666;
        height: 28px;
        text-align: center;
        overflow: hidden;
        line-height: 28px
    }

    .footer .copyright span {
        padding-right: 12px;
        font-size: 12px
    }
</style>
<div id="footer" class="footer mt02">
    <div class="footlink clearfix">
        <div class="fk_l">
            <a class="nolpad" href="http://www.ifeng.com/corp/about/intro/" target="_blank">凤凰新媒体介绍</a>
            <a href="http://ir.ifeng.com/" target="_blank">投资者关系 Investor Relations</a>
            <a href="http://biz.ifeng.com/" target="_blank">广告服务</a>
            <a href="http://career.ifeng.com/" target="_blank">诚征英才</a>
            <a href="http://www.ifeng.com/corp/privacy/" target="_blank">保护隐私权</a>
            <a href="http://www.ifeng.com/corp/exemption/" target="_blank">免责条款</a>
            <a href="http://www.ifeng.com/corp/feedback/" target="_blank">意见反馈</a>
            <a href="http://phtv.ifeng.com/intro/" target="_blank" class="noborder">凤凰卫视介绍</a>
        </div>

    </div>
    <div class="copyright">
        <span>凤凰新媒体</span>
        <span>版权所有</span>
        <span>Copyright © 2016 Phoenix New Media Limited All Rights Reserved.</span>
    </div>
</div>            
            `
        };
    </script>
    {{#each htmlWebpackPlugin.files.css}}
        <link href="{{.}}" rel="stylesheet">
    {{/each}}
</head>

<body>
    <div id="root"></div>
    {{#each htmlWebpackPlugin.files.chunks}}
        <script src="{{entry}}" type="text/javascript"></script>
    {{/each}}
    <script>
        var boxs = document.querySelectorAll('[data-adhook]');
        console.log(boxs.length);
        for (var i = 0, iLen = boxs.length; i < iLen; i++) {
            var text = boxs[i].innerText;
            boxs[i].innerHTML = text + '我修改了你';
        }
    </script>
</body>

</html>
