.content {
    width: 100%;
    background: url('./c_01.png') repeat-x;
    & .col {
        width: 1000px;
        margin: 0 auto;
        & .search_box {
            position: relative;
            height: 33px;
            border-bottom: 1px solid #dddddd;
            padding-top: 15px;
        }
    }
}

.space {
    height: 19px;
    overflow: hidden;
}

.bottom {
    width: 1px;
    height: 1px;
}
