.main_box {
    width: 1000px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
.content_l {
    width: 400px;
    height: auto;
    float: left;
    display: block;
}
.content_r {
    width: 570px;
    height: auto;
    float: right;
    display: block;
}
.ad {
    width: 1000px;
    margin: 37px auto 0;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border: 1px solid #000;
}
.searchBox {
    width: 1000px;
    margin: 0 auto;
    padding: 15px 0;
}

.sous01 {
    position: relative;
    float: left;
    width: 320px;
    height: 20px;
}
.gup01 {
    float: left;
    width: 60px;
    height: 18px;
    border: 1px solid #f54343;
    color: #f64243;
    font-size: 12px;
    font-family: '宋体';
    text-align: center;
    line-height: 19px;
}
.t_btn01 {
    width: 252px;
    height: 18px;
    background: url(./sos.jpg) no-repeat 235px 0px;
    border: 1px solid #b2b2b2;
    float: left;
    margin-left: 3px;
}
.t_btn01:hover {
    cursor: pointer;
}
.text_bg01 {
    width: 235px;
    height: 18px;
    float: left;
    color: #bbbbbb;
}
.text_bg01 .inputTxt {
    color: #bbbbbb;
    border: none;
    background: none;
    width: 220px;
    padding: 0 0 0 5px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
}
.top3I {
    float: right;
    height: 20px;
}
.search_suggest_list {
    position: absolute;
    top: 28px;
    left: 0;
    width: 320px;
    background: #fff;
    z-index: 999;
    border: 1px solid #f54343;
}
.search_suggest_list table {
    width: 100%;
}
.search_suggest_list table tbody tr:hover {
    background: #f54343;
}
.search_suggest_list table tbody tr td {
    border-bottom: 1px solid #ececec;
    height: 21px !important;
    padding-left: 12px;
    text-align: left;
    color: #333;
    font-size: 14px;
    font-weight: 500;
}
