.col_R {
    float: left;
    width: 300px;
    margin-left: 29px;
    margin-top: 3px;
    overflow: hidden;
}

.box_finance {
    margin: 30px 0;
}

.list {
    width: 300px;
    margin-top: 20px;
}

.meeting {
    margin-top: 32px;
}

.meetingAd {
    position: absolute;
    top: 11px;
    right: 0px;
}

.ad_box {
    margin-top: 28px;
}

.market {
    width: 300px;
    margin-top: 36px;
}

.marketAd {
    float: right;
    width: 120px;
    height: 25px;
}

.box_1 {
    width: 300px;
    height: 600px;
    text-align: center;
}

.box_2 {
    margin-top: 2px;
    width: 300px;
    height: 251px;
    text-align: center;
}

.box_3 {
    margin-top: 28px;
    width: 300px;
    height: 250px;
    text-align: center;
}

.box_4 {
    composes: clearfix from global;
    width: 300px;
    height: 60px;
    overflow: hidden;
    margin-top: 4px;
    text-align: center;
}

.box_5,
.box_6,
.box_7 {
    margin-top: 18px;
    width: 300px;
    height: 250px;
    text-align: center;
}
