
.hzhb{ width:1000px; overflow:hidden;margin-top: 30px;}
.hzhb ul{ width:1025px;}
.hzhb ul li{ width:182px; height:78px; float:left; border:1px solid #cccccc; margin-right:20px; margin-bottom:20px;}
.hzhb ul li a img{ display:block;}