.list {
    composes: clearfix from global;
    z-index: 90;
    width: 640px;
    border-bottom: solid 1px #ededed;
    padding-top: 13px;
    padding-bottom: 20px;
    position: relative;
    font-family: '微软雅黑';
    margin-top: 7px;
    & .imgBox {
        width: 144px;
        height: 96px;
        overflow: hidden;
        display: block;
        float: left;
        margin-right: 20px;
        & img {
            float: left;
            margin-right: 20px;
        }
        & .trans {
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -webkit-backface-visibility: hidden;
        }
        & .trans:hover {
            transform: scale(1.04, 1.04);
            -ms-transform: scale(1.04, 1.04);
            -webkit-transform: scale(1.04, 1.04);
        }
    }
    & .list_text {
        & .text {
            height: 26px;
            overflow: hidden;
            & a {
                color: #222222;
                font-size: 18px;
                font-weight: bold;
                line-height: 26px;
                height: 26px;
                overflow: hidden;
            }
        }
        & .time {
            color: #999999;
            font-size: 14px;
            margin-top: 50px;
            & .source {
                font-size: 12px;
                color: #999;
            }
            & .ad,
            & .date {
                font-size: 12px;
                color: #999;
                margin-left: 10px;
            }
            & .stick {
                border: solid 1px #17a0e0;
                color: #17a0e0;
                padding: 1px 5px;
                border-radius: 4px;
                font-weight: normal;
                font-size: 12px;
            }
            & .special {
                background: #ff4245;
                color: #fff;
                border: solid 1px #ff4245;
                padding: 1px 5px;
                border-radius: 4px;
                font-weight: normal;
                font-size: 12px;
            }
            & .selection {
                border: solid 1px #ff4245;
                color: #ff4245;
                padding: 1px 5px;
                border-radius: 4px;
                font-weight: normal;
                font-size: 12px;
            }
        }
    }
}
