.col_1000 {
    width: 1000px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 10px;
}
.content_l {
    width: 400px;
    height: auto;
    float: left;
    display: block;
}
.content_r {
    width: 570px;
    height: auto;
    float: right;
    display: block;
}
.siderBox {
    width: 570px;
    height: 260px;
    overflow: hidden;
    position: relative;
    padding-top: 30px;
}
.col_L {
    width: 240px;
    height: auto;
    float: left;
    display: block;
}
.col_R {
    width: 300px;
    height: auto;
    float: right;
    display: block;
}
