.tools_box {
    margin-bottom: 19px;
    background: url('./bg-green.jpg') repeat-y center top;
}
.tools_main {
    width: 1000px;
    height: 81px;
    margin: 0 auto;
}
/* 通用的直播按钮样式 */
a.zhibo_link {
    display: block;
    float: left;
    position: relative;
    margin-left: 14px;
    padding: 0 43px 0 16px;
    height: 100%;
    line-height: 81px;
    color: #fff;
    cursor: pointer;
    &:hover, &:visited {
        text-decoration: none;
        color: #fff;
    }
    &:hover {
        background-color: #1a8068;
    }
}
.hangqingzhongxin {
    margin: 0 auto 20px;
    width: 1000px;
    height: 460px;
    border: none;
    overflow: auto;
}
.play {
    position: absolute;
    top: 33px;
    right: 16px;
    display: block;
    margin-left: 8px;
    width: 18px;
    height: 18px;
    background-image: url('./play.png');
}
.is_active {
    & .play{
        background-image: url('./bottom.jpg');
    }
    &:hover .play {
        background-image: url('./play.png');
    }
}
.earth, .chart {
    display: inline-block;
}
.earth {
    width: 33px;
    height: 32px;
    background-image: url('./earth.png');
}
.chart {
    width: 31px;
    height: 26px;
    vertical-align: 2px;
    background-image: url('./chart.png');
}
.link_title {
    margin-left: 9px;
    font-size: 24px;
    vertical-align: 7px;
    font-weight: bold;
}
.fhhkt {
    margin: 16px 0 0 2px;
}