.tools_box {
    background: url('./bg-green.jpg') repeat-y center top;
}
.tools_main {
    width: 1000px;
    height: 81px;
    margin: 0 auto;
}
.calendar {
    float: left;
}
.calendar {
    width: 88px;
    height: 88px;
    margin-top: -20px;
    font-size: 56px;
    font-family: Microsoft YaHei;
    line-height: 66px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-image: url('./cai-jing-ri-li.png');
    cursor: pointer;
    &:hover {
        background-image: url('./cai-jing-ri-li-hover.png');
    }
}
.zhibo_link {
    display: block;
    float: left;
    margin-left: 14px;
    padding: 0 16px;
    height: 100%;
    line-height: 81px;
    color: #fff;
    &:hover, &:visited {
        text-decoration: none;
        color: #fff;
    }
    &:hover {
        background-color: #1a8068;
    }
}
.earth, .play {
    display: inline-block;
}
.earth {
    width: 33px;
    height: 32px;
    background-image: url('./earth.png');
}
.play {
    margin-left: 8px;
    width: 18px;
    height: 18px;
    vertical-align: 5px;
    background-image: url('./play.png');
}
.link_title {
    margin-left: 9px;
    font-size: 24px;
    vertical-align: 7px;
    font-weight: bold;
}