
.p_banner{ padding-left:20px; position:relative; height:39px; line-height:39px;  border-bottom:1px solid #dddddd}
.p_banner a{ margin-right:22px; color:#2a2a2a; font-size:14px;}
.p_banner a:hover{ color:#f54343;}