.col_boxR {
    composes: clearfix from global;
    float: left;
    width: 465px;
    border-left: 1px solid #eeeeee;
    margin-top: 2px;
}

.box {
    width: 135px;
    float: left;
    margin-left: 20px;
    & h5 {
        color: #222222;
        font-weight: normal;
        text-align: center;
        margin-bottom: 5px;
    }
}

.line {
    background: url(./line.jpg) no-repeat left top;
    width: 135px;
    height: 6px;
    padding-bottom: 12px;
}

.box_L0,
.box_L1,
.box_L2 {
    float: left;
    margin-left: 9px;
    width: 50px;
    & a {
        width: 50px;
        color: #222;
        display: block;
        padding-top: 48px;
        text-align: center;
        text-decoration: none;
    }
    & a:hover {
        color: #f54343;
    }
}

.box_R0,
.box_R1,
.box_R2 {
    float: left;
    margin-left: 22px;
    width: 50px;
    & a {
        width: 50px;
        color: #222;
        display: block;
        padding-top: 48px;
        text-align: center;
        text-decoration: none;
    }
    & a:hover {
        color: #f54343;
    }
}

.box_L0 {
    & a {
        background: url(./01.jpg) no-repeat 3px 0;
    }
    & a:hover {
        background: url(./010.jpg) no-repeat 3px 0;
    }
}

.box_L1 {
    & a {
        background: url(./03.jpg) no-repeat 3px 0;
    }
    & a:hover {
        background: url(./030.jpg) no-repeat 3px 0;
    }
}

.box_L2 {
    & a {
        background: url(./05.jpg) no-repeat 3px 0;
    }
    & a:hover {
        background: url(./050.jpg) no-repeat 3px 0;
    }
}

.box_R0 {
    & a {
        background: url(./02.jpg) no-repeat 3px 0;
    }
    & a:hover {
        background: url(./020.jpg) no-repeat 3px 0;
    }
}

.box_R1 {
    & a {
        background: url(./04.jpg) no-repeat 3px 0;
    }
    & a:hover {
        background: url(./040.jpg) no-repeat 3px 0;
    }
}

.box_R2 {
    & a {
        background: url(./06.jpg) no-repeat 3px 0;
    }
    & a:hover {
        background: url(./060.jpg) no-repeat 3px 0;
    }
}
