.navigation {
    background: url('./c_02.png') no-repeat left top;
    & li {
        float: left;
        line-height: 38px;
        padding: 0px 20px;
        height: 38px;
        background: url('./c_02.png') no-repeat right top;
        & a {
            color: #fff;
            font-size: 14px;
            text-decoration: none;
            font-family: Microsoft Yahei;
        }
        & a:hover {
            color: #ffc200;
            text-decoration: none;
            cursor: pointer;
        }
    }
}
