.list {
    margin-top: 3px;
    & li:first-child {
        margin: 9px 0;
        & a {
            font: bold 16px/26px microsoft yahei;
        }
    }
    & li {
        line-height: 26px;
        height: 26px;
        background: url(./c_04.png) left center no-repeat;
        padding-left: 12px;
        overflow: hidden;
        & a {
            color: #2b2b2b;
            font-size: 14px;
        }
        & a:hover {
            color: #f54343;
        }
    }
}
