<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="always" name="referrer">
    <title>凤凰WEMONEY-新金融风向标-凤凰网</title>
    {{{ htmlWebpackPlugin.options.errorupload }}}
    <%- statisticsData.statisticsHead %>
    <script>
        var __jsonData__ = <%- JSON.stringify(allData).replace(/</g, '\\u003c') %>;
        var __chipsData = <%- JSON.stringify(kvList) %>;
        var jsonData = {
            nav: __jsonData__.commonNav,
            navigation: __jsonData__.navigation,
            slider: __jsonData__.slider,
            info: __jsonData__.info,
            hotNewsTitle: __jsonData__.hotNewsTitle,
            hotNews: __jsonData__.hotNews,
            adAside1: __jsonData__.adAside1,
            adAside2: __jsonData__.adAside2,
            adAside3: __jsonData__.adAside3,
            adAside4: __jsonData__.adAside4,
            copyright: __jsonData__.copyright,
            moreNews: __jsonData__.moreNews
        };

    </script>

    {{#each htmlWebpackPlugin.files.css}}
    <link href="{{path}}" rel="stylesheet"> 
    {{/each}}
    {{{ htmlWebpackPlugin.options.polyfill }}}
</head>

<body>
    <div id="root"></div>
    {{#if htmlWebpackPlugin.options.useMorden}}
    {{#if htmlWebpackPlugin.options.isDevMode}}
        {{#each htmlWebpackPlugin.files.js}}
            <script type="module" src="{{path}}_modern.js" type="text/javascript" crossorigin="anonymous"></script>
        {{/each}}
    {{else}}
        <!--include file="{{htmlWebpackPlugin.options.includeName}}.html" -->
    {{/if}}
    {{{htmlWebpackPlugin.options.modernPolyfill}}}
    {{#each htmlWebpackPlugin.files.js}}
        <script nomodule src="{{path}}" type="text/javascript" crossorigin="anonymous"></script>
    {{/each}}
    {{else}}
        {{#each htmlWebpackPlugin.files.js}}
            <script src="{{path}}" type="text/javascript" crossorigin="anonymous"></script>
        {{/each}}
    {{/if}}
    <%- statisticsData.statisticsBody %>
</body>

</html>
