.editorWrap {
    height: 400px;
    & em {
        font-style: italic;
    }
    & :global {
        /* 自定义toolbar */
        & .ql-toolbar.ql-snow {
            height: 50px;
            width: 100%;
            padding: 9px 15px;
            background-color: #f6f6f6;
            border: 1px solid #e5e5e5;
            border-bottom: none;
            font-family: simsun, arial, helvetica, clean, sans-serif;
        }
        & .ql-toolbar .ql-formats {
            position: relative;
        }
        & .ql-toolbar .ql-formats:after {
            position: absolute;
            width: 1px;
            height: 30px;
            background: #e5e5e5;
            right: -6px;
            top: 0;
        }
        & .ql-toolbar .ql-formats:last-child:after {
            display: none;
        }
        & .ql-toolbar .ql-formats button svg {
            display: none;
        }
        & .ql-toolbar .ql-formats button {
            width: 30px;
            height: 30px;
            float: left;
            margin-right: 3px;
            background: #fff;
            cursor: pointer;
            font-size: 17px;
            text-align: center;
            line-height: 30px;
            outline: none;
            position: relative;
            &:hover .ql-toolbar-tooltip {
                display: inline-block;
            }
        }
        & .ql-toolbar .ql-bold {
            background: url(./images/bold.png) center no-repeat !important;
            position: relative;
            &:hover {
                background: #e5e5e5 url(./images/bold_cur.png) no-repeat center center !important;
            }
            &.ql-active {
                background: #e5e5e5 url(./images/bold_cur.png) no-repeat center center !important;
            }
            /* &:hover::after {
                width: 40px;
                height: 30px;
                background: url(./images/toolbar_title.png) no-repeat center;
            } */
        }
        & .ql-toolbar .ql-italic {
            background: url(./images/italic.png) center no-repeat !important;
            &:hover {
                background: #e5e5e5 url(./images/italic_cur.png) no-repeat center center !important;
            }
            &.ql-active {
                background: #e5e5e5 url(./images/italic_cur.png) no-repeat center center !important;
            }
        }
        & .ql-toolbar .ql-header[value='1'] {
            background: url(./images/head1.png) center no-repeat !important;
            &:hover {
                background: #e5e5e5 url(./images/head1_cur.png) no-repeat center center !important;
            }
            &.ql-active {
                background: #e5e5e5 url(./images/head1_cur.png) no-repeat center center !important;
            }
        }
        & .ql-toolbar .ql-header[value='2'] {
            background: url(./images/head2.png) center no-repeat !important;
            &:hover {
                background: #e5e5e5 url(./images/head2_cur.png) no-repeat center center !important;
            }
            &.ql-active {
                background: #e5e5e5 url(./images/head2_cur.png) no-repeat center center !important;
            }
        }
        & .ql-toolbar .ql-blockquote {
            background: url(./images/source.png) center no-repeat !important;
            &:hover {
                background: #e5e5e5 url(./images/source_cur.png) no-repeat center center !important;
            }
            &.ql-active {
                background: #e5e5e5 url(./images/source_cur.png) no-repeat center center !important;
            }
        }
        & .ql-toolbar .ql-list[value='ordered'] {
            background: url(./images/listNum.png) center no-repeat !important;
            &:hover {
                background: #e5e5e5 url(./images/listNum_cur.png) no-repeat center center !important;
            }
            &.ql-active {
                background: #e5e5e5 url(./images/listNum_cur.png) no-repeat center center !important;
            }
        }
        & .ql-toolbar .ql-list[value='bullet'] {
            background: url(./images/listDot.png) center no-repeat !important;
            &:hover {
                background: #e5e5e5 url(./images/listDot_cur.png) no-repeat center center !important;
            }
            &.ql-active {
                background: #e5e5e5 url(./images/listDot_cur.png) no-repeat center center !important;
            }
        }
        & .ql-toolbar .ql-divider {
            background: url(./images/sline.png) center no-repeat !important;
            &:hover {
                background: #e5e5e5 url(./images/sline_cur.png) no-repeat center center !important;
            }
            &.ql-active {
                background: #e5e5e5 url(./images/sline_cur.png) no-repeat center center !important;
            }
        }
        & .ql-toolbar .ql-image {
            background: url(./images/photo.png) center no-repeat !important;
            &:hover {
                background: #e5e5e5 url(./images/photo_cur.png) no-repeat center center !important;
            }
            &.ql-active {
                background: #e5e5e5 url(./images/photo_cur.png) no-repeat center center !important;
            }
        }
        & .ql-toolbar .ql-video {
            background: url(./images/video.png) center no-repeat !important;
            &:hover {
                background: #e5e5e5 url(./images/video_cur.png) no-repeat center center !important;
            }
            &.ql-active {
                background: #e5e5e5 url(./images/video_cur.png) no-repeat center center !important;
            }
        }
        & .ql-toolbar .ql-audio {
            background: url(./images/audio.png) center no-repeat !important;
            &:hover {
                background: #e5e5e5 url(./images/audio_cur.png) no-repeat center center !important;
            }
            &.ql-active {
                background: #e5e5e5 url(./images/audio_cur.png) no-repeat center center !important;
            }
        }
        & .ql-toolbar .ql-link {
            background: url(./images/link.png) center no-repeat !important;
            &:hover {
                background: #e5e5e5 url(./images/link_cur.png) no-repeat center center !important;
            }
            &.ql-active {
                background: #e5e5e5 url(./images/link_cur.png) no-repeat center center !important;
            }
        }
        & .ql-toolbar .ql-clean {
            background: url(./images/clear.png) center no-repeat !important;
            &:hover {
                background: #e5e5e5 url(./images/clear_cur.png) no-repeat center center !important;
            }
            &.ql-active {
                background: #e5e5e5 url(./images/clear_cur.png) no-repeat center center !important;
            }
        }
        & .ql-toolbar .ql-undo {
            background: url(./images/undo.png) center no-repeat !important;
            &:hover {
                background: #e5e5e5 url(./images/undo_cur.png) no-repeat center center !important;
            }
            &.ql-active {
                background: #e5e5e5 url(./images/undo_cur.png) no-repeat center center !important;
            }
        }
        & .ql-toolbar .ql-redo {
            background: url(./images/redo.png) center no-repeat !important;
            &:hover {
                background: #e5e5e5 url(./images/redo_cur.png) no-repeat center center !important;
            }
            &.ql-active {
                background: #e5e5e5 url(./images/bold_cur.png) no-repeat center center !important;
            }
        }
    }
    /* 编辑器内部的元素的样式 */
    & :global {
        & .ql-editor {
            font-family: MicrosoftYaHei;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 28px;
            letter-spacing: 0px;
            color: #333333;
        }
        & .ql-editor.ql-blank::before {
            font-family: MicrosoftYaHei;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 28px;
            letter-spacing: 0px;
            color: #999999;
            font-style: normal !important;
        }
        & .ql-container.ql-snow {
            background: #fff;
            height: 350px;
            border: 1px solid #e5e5e5;
        }
        & .ql-container.ql-snow x-img {
            width: 480px;
            height: 326px;
            display: block;
            margin: 0 auto;
            position: relative;
            white-space: normal;
            & #img-ctrl-warapper {
                /* 图片块级元素的操作按钮 */
                width: 32px;
                height: 70px;
                position: absolute;
                background: url(./images/crl_btn.png);
                right: -42px;
                cursor: pointer;
                & #img-ctrl-close {
                    width: 100%;
                    height: 32px;
                }
                & #img-ctrl-cropper {
                    width: 100%;
                    height: 32px;
                    margin-top: 6px;
                }
            }
            & img {
                display: block;
                width: 100%;
                height: 100%;
            }
            & #img-uploading-mask {
                position: absolute;
                top: 0;
                z-index: 999;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                & #loading {
                    display: block;
                    position: absolute;
                    top: 50%;
                    margin-top: -16px;
                    left: 50%;
                    margin-left: -16px;
                    width: 32px;
                    height: 32px;
                    background: url(./images/loading_big.png) no-repeat center;
                    animation: roll 0.8s linear infinite;
                }
                & p {
                    width: 100%;
                    position: absolute;
                    font-family: MicrosoftYaHei;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 28px;
                    letter-spacing: 0px;
                    color: #ffffff;
                    top: 180px;
                    text-align: center;
                }
                & #i-progress {
                    width: 100%;
                    height: 5px;
                    position: absolute;
                    bottom: 0;
                    background: #ccc;
                }
                & #i-innerProgress {
                    width: 0;
                    height: 5px;
                    background: #f54343;
                    transition: all 0.3s;
                }
            }
        }
        /* 插入的音频模块     */
        & .ql-container.ql-snow x-audio {
            display: block;
            width: 480px;
            height: 100px;
            margin: 0 auto;
            background: #f6f6f6 url(./images/audio-cover.png) no-repeat 15px 15px;
            position: relative;
            & #audio-ctrl-close {
                /* 音频块级元素的操作按钮 */
                width: 32px;
                height: 32px;
                position: absolute;
                background: url(./images/crl_btn.png);
                right: -42px;
                cursor: pointer;
            }
            & #audio-desc {
                position: absolute;
                left: 110px;
                top: 0;
                width: 370px;
                height: 100%;
                overflow: hidden;
                white-space: normal;
                & .fileName {
                    width: 337px;
                    padding-top: 13px;
                    font-family: MicrosoftYaHei;
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 26px;
                    letter-spacing: 0px;
                    color: #333333;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                }
                & .tips {
                    height: 20px;
                    font-family: MicrosoftYaHei;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    letter-spacing: 0px;
                    color: #999999;
                    position: absolute;
                    bottom: 13px;
                }
            }
            & #a-progress {
                width: 100%;
                height: 5px;
                position: absolute;
                bottom: 0;
                background: #ccc;
            }
            & #a-innerProgress {
                width: 0;
                height: 5px;
                background: #f54343;
                transition: all 0.3s;
            }
        }
        /* 插入的视频模块 */
        & .ql-container.ql-snow x-video {
            display: block;
            width: 480px;
            height: 270px;
            margin: 0 auto;
            position: relative;
            & #video-ctrl-close {
                /* 视频块级元素的操作按钮 */
                width: 32px;
                height: 32px;
                position: absolute;
                background: url(./images/crl_btn.png);
                right: -42px;
                cursor: pointer;
            }
            & video {
                width: 100%;
                height: 100%;
            }
            & #video-uploading-mask {
                position: absolute;
                top: 0;
                z-index: 999;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                & #loading {
                    display: block;
                    position: absolute;
                    top: 120px;
                    left: 50%;
                    margin-left: -16px;
                    width: 32px;
                    height: 32px;
                    background: url(./images/loading_big.png) no-repeat center;
                    animation: roll 0.8s linear infinite;
                }
                & p {
                    width: 100%;
                    position: absolute;
                    font-family: MicrosoftYaHei;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 28px;
                    letter-spacing: 0px;
                    color: #ffffff;
                    top: 180px;
                    text-align: center;
                }
                & #v-progress {
                    width: 100%;
                    height: 5px;
                    position: absolute;
                    bottom: 0;
                    background: #ccc;
                }
                & #v-innerProgress {
                    width: 0;
                    height: 5px;
                    background: #f54343;
                    transition: all 0.3s;
                }
            }
            & #video-mask {
                position: absolute;
                top: 0;
                z-index: 9999;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.2) url(./images/video-purse.png) center no-repeat;
                & p {
                    width: 100%;
                    position: absolute;
                    font-family: MicrosoftYaHei;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 28px;
                    letter-spacing: 0px;
                    color: #ffffff;
                    top: 180px;
                    text-align: center;
                }
            }
        }
        & .ql-container.ql-snow .ql-editor {
            padding: 12px 120px !important;
        }
        & .ql-editor.ql-blank::before {
            color: rgba(0, 0, 0, 0.6);
            content: attr(data-placeholder);
            font-style: italic;
            left: 120px;
            pointer-events: none;
            position: absolute;
            right: 15px;
        }
    }
}
:global {
    & .ql-toolbar-rightBox {
        height: 30px;
        float: right;
        text-align: center;
        line-height: 30px;
        color: #999;
        font-size: 14px;
    }
    & .ql-toolbar-tooltip {
        position: absolute;
        padding: 0 7px;
        height: 30px;
        /* background: url(./images/toolbar_title.png); */
        background: #fff;
        bottom: -40px;
        left: 50%;
        z-index: 999;
        margin-left: -20px;
        display: none;
        font-size: 13px;
        color: #999;
        line-height: 30px;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        white-space: nowrap;
    }
    & .ql-toolbar-tooltip:after,
    & .ql-toolbar-tooltip:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    & .ql-toolbar-tooltip:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #fff;
        border-width: 6px;
        margin-left: -6px;
    }
    & .ql-toolbar-tooltip:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #e5e5e5;
        border-width: 8px;
        margin-left: -8px;
    }
}
.wordCount {
    float: left;
}
.padding {
    padding: 0 20px 0 22px;
    float: left;
    position: relative;
}
.loading {
    display: block;
    position: absolute;
    top: 7px;
    right: 0;
    width: 16px;
    height: 16px;
    background: url(./images/loading.png) no-repeat center;
    animation: roll 0.8s linear infinite;
}

/* 插入超链接弹窗 */
.linkForm {
    height: 100%;
    padding: 20px;
    & .formItem {
        margin-bottom: 15px;
        & .label {
            float: left;
            display: block;
            padding: 9px 15px;
            width: 56px;
            font-weight: 400;
            line-height: 20px;
            text-align: right;
            font-size: 14px;
        }
        & .inputBlock {
            margin-left: 110px;
            min-height: 36px;
            & input {
                font-family: inherit;
                font-size: inherit;
                font-style: inherit;
                font-weight: inherit;
                outline: 0;
                outline: 0;
                -webkit-appearance: none;
                transition: all 0.3s;
                -webkit-transition: all 0.3s;
                box-sizing: border-box;
                border-color: #e6e6e6;
                height: 38px;
                line-height: 1.3;
                line-height: 38px\9;
                border-width: 1px;
                border-style: solid;
                background-color: #fff;
                border-radius: 4px;
                display: block;
                width: 100%;
                padding-left: 10px;
            }
        }
    }
    & .errorTip {
        /* display: none; */
        padding-left: 110px;
        color: #f54343;
        margin-bottom: 15px;
    }
}
.modal_footer {
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: right;
    border-radius: 0 0 4px 4px;
}
.buttonWrap {
    width: 260px;
    margin: 0 auto;
}
.btn_dialog {
    line-height: 1.499;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    height: 32px;
    width: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
    outline: 0;
    float: left;
    margin-left: 20px;
    & span {
        pointer-events: none;
        display: inline-block;
    }
    &:hover {
        color: #f57878;
        background-color: #fff;
        border-color: #f57878;
    }
    &.btn_comfirm {
        color: #fff;
        background-color: #f54343;
        border-color: #f54343;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
        -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
        /* float: right; */
        margin-left: 20px;
        &:hover {
            color: #fff;
            background-color: #f57878;
            border-color: #f57878;
        }
    }
}

@keyframes roll {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
