<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="always" name="referrer">
    <title></title>
    <script>
        var __jsonData__ = <%- JSON.stringify(allData) %>;
        var jsonData = {
            nav: [],
            navMore: [],
            navigation: __jsonData__.navigation,
            slider: __jsonData__.slider,
            info: __jsonData__.info,
            hotNews: __jsonData__.hotNews,
            adAside1: __jsonData__.adAside1,
            adAside2: __jsonData__.adAside2,
            adAside3: __jsonData__.adAside3,
            adAside4: __jsonData__.adAside4,
            adAside5: __jsonData__.adAside5,
        };

    </script>
    {{#each htmlWebpackPlugin.files.css}}
    <link href="{{.}}" rel="stylesheet"> {{/each}}
</head>

<body>
    <div id="root"></div>
    {{#each htmlWebpackPlugin.files.chunks}}
    <script src="{{entry}}" type="text/javascript"></script>
    {{/each}}
</body>

</html>
