.playitem {
    padding-top: 8px;
    & ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
        & li {
            line-height: 30px;
            height: 30px;
            overflow: hidden;
            & a {
                color: #2b2b2b;
                cursor: pointer;
                font-size: 14px;
                background: url(./g30.png) no-repeat 5px center;
                display: block;
                padding-left: 27px;
            }
            & a:hover {
                color: #f54343;
                background: url(./g31.png) no-repeat 5px center;
            }
        }
    }
}
