.goTop{
    display:none;
    width:50px;
    height:50px;
    position:fixed;
    background:url(http://ued.ifeng.com/test/songbb/finance_wemoney/images/jt_01.png) no-repeat center #e06539;
    background-repeat: no-repeat;
    background-position:center center;
    left:50%;
    margin-left: 505px;
    bottom:112px;
    cursor:pointer;
    & :hover{
      background:url(http://ued.ifeng.com/test/songbb/finance_wemoney/images/jt_01.png) no-repeat center #fc5521;  
    }
}