.calendar {
    float: left;
    width: 88px;
    height: 88px;
    margin-top: -20px;
    font-size: 56px;
    font-family: Microsoft YaHei;
    line-height: 66px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-image: url('./cai-jing-ri-li.png');
    cursor: pointer;
    &:hover {
        background-image: url('./cai-jing-ri-li-hover.png');
    }
}
