.subject {
    margin: 11px 0 20px 0;
}

.pic_box {
    width: 300px;
    height: 141px;
    position: relative;
}

.pic {
    display: block;
    width: 300px;
    height: 141px;
    overflow: hidden;
}

.trans {
    display: block;
    width: 300px;
    height: 141px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-backface-visibility: hidden;
}

.trans:hover {
    transform: scale(1.04, 1.04);
    -ms-transform: scale(1.04, 1.04);
    -webkit-transform: scale(1.04, 1.04);
}

.list {
    margin-top: 8px;
    & li {
        height: 22px;
        line-height: 22px;
        background: url(./dian01.jpg) no-repeat 0 center;
        padding-left: 14px;
        overflow: hidden;
        & a {
            color: #3b3a3b;
        }
        & a:hover {
            color: #f54343;
        }
    }
}
