.tab {
    composes: clearfix from global;
    overflow: hidden;
    border-top: 1px solid #dddddd;
    & h4 {
        background: #fff;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        float: left;
        padding-top: 6px;
        padding-right: 3px;
        & a {
            color: #222222;
            font-family: '微软雅黑';
            font-size: 22px;
            text-decoration: none;
        }
    }
    & .title1 {
        margin-left: 12px;
    }
    & .current {
        border-top: 2px solid #f54343;
        & a {
            color: #f54343;
        }
    }
    & .sub_title {
        line-height: 30px;
        padding-top: 6px;
        padding-left: 26px;
        float: left;
        & a {
            color: #222222;
            margin-right: 13px;
            text-decoration: none;
            font-size: 14px;
        }
        & a:hover {
            color: #f54343;
        }
    }
    & .ad {
        background: #fff;
        float: right;
        padding-left: 2px;
        height: 30px;
        line-height: 30px;
        margin-left: 29px;
        overflow: hidden;
        & a {
            color: #222222;
            margin-right: 0;
            text-decoration: none;
            & span {
                color: #222222;
            }
        }
        & a:hover span {
            color: #f54343;
        }
    }
}
