.bannerPic {
    width: 400px;
    height: 230px;
    position: relative;
    overflow: hidden;
    margin-top: 19px;
}

.prevSlide {
    left: 0px;
}

.nextSlide {
    right: 0px;
}

.prevSlide,
.nextSlide {
    width: 36px;
    height: 60px;
    position: absolute;
    top: 70px;
    z-index: 10;
    cursor: pointer;
}

.left {
    width: 38px;
    height: 60px;
    background: url('./left.png') no-repeat;
}

.right {
    width: 38px;
    height: 60px;
    background: url('./right.png') no-repeat;
}
