.stock_box {
    composes: clearfix from global;
    height: 73px;
    margin-top: 18px;
    overflow: hidden;
}

.stock_container {
    width: 119px;
    background: url(./line07.jpg) no-repeat right top;
    float: left;
    padding-bottom: 13px;
    text-align: center;
    & a {
        text-decoration: none;
    }
}

.text {
    color: #222;
    padding-top: 3px;
}

.price {
    height: 18px;
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    padding-top: 8px;
}

.change_box {
    height: 14px;
    font-family: Arial;
    padding-top: 3px;
    & span {
        padding: 0 5px;
    }
}

.red {
    color: #f54343;
}

.green {
    color: #54b59c;
}

.black {
    color: #222;
}

.box1 {
    width: 140px;
}

.box2 {
    width: 135px;
}

.box3 {
    background: none;
    width: 139px;
}
