.wrapper {
    width: 500px;
    background: #fff;
    height: 100px;
    margin: 100px auto;
    border-width: 1px;
    border-style: solid;
    border-image: svg(1px-border param(--color #00b1ff)) 2 2 stretch;
}

.box {
    border: 1px solid #f00;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
