.search_box {
    width: 174px;
    height: 18px;
    background: url(./sos.jpg) no-repeat 157px 0px;
    border: 1px solid #b2b2b2;
    float: left;
    margin-left: 6px;
    position: relative;
    line-height: 18px;
    text-align: center;
}

.text {
    width: 157px;
    height: 18px;
    float: left;
    color: #bbbbbb;
    & input {
        color: #bbbbbb;
        border: none;
        background: none;
        width: 151px;
        padding: 0 0 0 5px;
        height: 18px;
        font-size: 12px;
        line-height: 18px;
    }
}

.btn {
    width: 17px;
    height: 18px;
    float: left;
}

.search {
    display: block;
    border: none;
    background: none;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
