.live {
    height: 528px;
    overflow-y: scroll;
    margin-top: 5px;
}

.title {
    height: 30px;
    & span {
        display: block;
        color: #494949;
        float: left;
        padding-left: 16px;
        margin-top: 13px;
        cursor: pointer;
    }
    & a img {
        display: block;
        float: right;
        margin-right: 20px;
    }
}

.selected {
    background: url(./list00_ae674d2a.gif) no-repeat left center;
}

.unselected {
    background: url(./list00w_55f2ebc0.gif) no-repeat left center;
}

.devide {
    width: 1px;
    height: 20px;
    background: url(./list22_c7fb455f.gif) no-repeat center center;
    float: left;
    padding: 0 10px;
    margin-top: 10px;
}

.refresh {
    background: url(./list11_08d16303.gif) no-repeat left center;
}

.liveList {
    margin: 6px 6px 0 0;
    & li {
        color: #494949;
        line-height: 22px;
        border-top: 1px solid #f4f4f4;
        padding: 5px 0;
        margin: 0px;
        list-style: none;
        & .time {
            font-weight: normal;
            color: #222222;
        }
    }
}

.devide {
    padding: 0 7px;
}
