.slide {
    width: 640px;
    height: 280px;
    border: 1px solid #eee;

    & [ifeng_ui_pc_sliders-title] {
        position: absolute;
        height: 40px;
        line-height: 40px;
        bottom: 0;
        z-index: 1;
        font-size: 11pt;
        color: #fff;
        overflow: hidden;
        cursor: pointer;
    }

    & [ifeng_ui_pc_sliders-link] :hover {
        text-decoration: underline;
    }
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #fff;
    margin: 0px 2px 0px 6px;
    cursor: pointer;
    position: relative;
    top: 18px;
}

.current {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #2e60a7;
    margin: 0px 2px 0px 6px;
    cursor: pointer;
    position: relative;
    top: 18px;
}
