.box {
    width: 200px;
}

.boxFixed {
    composes: box;
    position: fixed;
    top: 10px;
    z-index: 99;
    animation: bounceInDown 0.8s;
}

@keyframes bounceInDown {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, -105px, 0);
        transform: translate3d(0, -105px, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.title {
    background: url(./title_bg.jpg) no-repeat left 3px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dddddd;
    font-size: 20px;
    color: #000;
    padding-left: 10px;
    font-family: Microsoft Yahei;
    font-weight: bold;
    line-height: 22px;
    position: relative;
}

.switch {
    display: block;
    position: absolute;
    font-size: 14px;
    right: 0;
    top: 3px;
    color: #999;
    text-decoration: none;
    background: url(./switch.png) no-repeat left center;
    padding-left: 23px;
    font-weight: normal;
    cursor: pointer;
}

.switch:hover {
    opacity: 0.8;
}

.list {
    & div {
        padding-bottom: 12px;
        border-bottom: 1px solid #e7e7e7;
        margin-top: 15px;
        line-height: 24px;
        & a {
            font-size: 14px;
            color: #2b2b2b;
            padding-top: 10px;
        }
        & a:hover {
            color: #f54343;
        }
    }
}
