/* 列表 */
.news_list {
}
.news_item_has_image {
    padding: 20px 13px 20px 164px;
}
.news_item_no_image,
.news_item_3_image {
    padding: 20px 13px 20px 0;
}
.news_item_has_image,
.news_item_no_image,
.news_item_3_image {
    border-bottom: 1px solid #e7e7e7;
    font-family: '微软雅黑';
}
.image_link,
.news_item_infor {
    float: left;
}
.image_link,
.image_link_3 {
    position: relative;
    display: block;
    overflow: hidden;
    & img {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:hover {
            -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
        }
    }
}
.image_link_3 {
    &:hover img {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
}
.image_link {
    margin-left: -164px;
    width: 144px;
    height: 80px;
    &:hover .play {
        opacity: 1;
    }
}
.image_link_3 {
    float: left;
    width: 167px;
    height: 106px;
}
.play,
.tuji {
    position: absolute;
    z-index: 1;
}
.play {
    left: 50%;
    top: 50%;
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    background-image: url('./playHover.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.7;
}
.tuji {
    top: 0;
    right: 0;
    padding: 2px 4px;
    font: 12px simsun;
    border: 1px solid #c62f32;
    color: #fff;
    background-color: #ee3c40;
}
.mr11 {
    margin-right: 8px;
}
.top_11 {
    margin-top: 11px;
}
.news_item_infor {
    width: 100%;
}
.news_item_title {
    max-height: 50px;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    overflow: hidden;
    & a {
        color: #222222;
        text-decoration: none;
        &:hover {
            color: #ab8a52;
            text-decoration: none;
        }
    }
}
.h50 {
    height: 50px;
}
.mb16 {
    margin-bottom: 16px;
}
/* 标签 */
.text,
a.ly {
    font-size: 12px;
    color: #999;
    font-family: '微软雅黑';
}
.mr10 {
    margin-right: 10px;
}
a.ly {
    float: right;
    display: block;
    margin-right: 10px;
    padding-left: 27px;
    text-decoration: none;
    background-image: url('./ly.png');
    background-repeat: no-repeat;
    background-position: left center;
    &:hover {
        background-image: url('./lyHover.png');
        color: #ff2f42;
        text-decoration: none;
    }
}
.more_box {
    margin-top: 27px;
    text-align: center;
}
.more,
.is_end {
    display: inline-block;
    font-size: 14px;
    color: #999;
}
.is_end {
    padding: 3px;
}
.more {
    padding: 3px 20px 3px 3px;
    background: url('./more.jpg') no-repeat center right;
    cursor: pointer;
    &:hover {
        color: #999;
        text-decoration: none;
    }
}
