.head_title {
    position: relative;
    background: url(./g59.png) no-repeat left bottom;
    height: 45px;
}

.sub_title {
    float: right;
    padding: 15px 0 0 0;
    color: #cccccc;
    font-size: 14px;
    & a {
        padding: 0 15px;
        color: #666666;
    }
    & a:hover {
        color: #f54343;
    }
}

.title a {
    line-height: 35px;
    font-size: 32px;
    font-family: '微软雅黑';
    font-weight: bold;
}

.title a:hover {
    color: #2b2b2b;
    text-decoration: none;
}
