.nav {
    float: right;
    width: 114px;
    display: block;
    padding-top: 14px;
    & a {
        padding-left: 2px;
    }
}
.list {
    composes: clearfix from global;
    & li {
        float: left;
        width: 140px;
        padding-top: 10px;
        & img {
            width: 140px;
            height: 100px;
        }
        & p {
            line-height: 22px;
            padding-top: 3px;
            text-align: center;
        }
    }
    & li:nth-child(odd) {
        padding-left: 0px;
        padding-right: 10px;
    }
    & li:nth-child(even) {
        padding-left: 10px;
        padding-right: 0px;
    }
}
