.title {
    height: 28px;
    margin-bottom: 5px;
    line-height: 21px;
    position: relative;
    border-top: 1px solid #222222;
    padding-top: 9px;
    & h4 {
        height: 26px;
        line-height: 21px;
        overflow: hidden;
        float: left;
        margin-right: 5px;
        & a {
            font-family: '微软雅黑';
            font-size: 22px;
            color: #2b2b2b;
            text-decoration: none;
            font-weight: bold;
        }
    }
}

.more {
    line-height: 18px;
    background: url(./g36.png) no-repeat right center;
    width: 35px;
    float: right;
    & a {
        color: #666666;
    }
    & a:hover {
        color: #f54343;
        text-decoration: none;
    }
}
