.wrapCon{
    width:654px;
    height:400px;
    font-size:14pt;
    overflow: hidden;
    & img{
        width:654px ;
        height: 400px;
    }
}

.bannerTitleCon{
    width:629px;
    height:68px;
    line-height:68px;

    padding-left:25px;
    background: rgb(129,140,154);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#80000000,endColorstr=#80000000)"; /*Filter for IE8 */ 
    background: rgba(129,140,154,0.5);
    position:absolute;
    bottom:0;
    z-index:1;
    font-size:14pt;
    font-family: "microsoft Yahei";
    color:#fff;
    overflow:hidden;
    cursor:pointer;
    & a {
        color:#fff;
        &:hover{
          color:#fe5421;  
        }
    }
}/*170412a*/

.slickDots{
    position: absolute;
    bottom: 50px;
    right: 30px;
    & li {
        & button{
            width: 12px;
            height: 12px;
            overflow: hidden;
            &:before{
                color: #fff;
                opacity: 1;
                /* background: url(http://y0.ifengimg.com/fe/weMoney/images/whiteCircle_dcec2d4e.png) */
            };
        }
    }

}
/* 
.unsliderWrap.unslider-carousel>li {
    float: left
}

.unslider-vertical>ul {
    height: 100%
}

.unslider-vertical li {
    float: none;
    width: 100%
} */



