.financeVideo {
    width: 300px;
    height: 170px;
    position: relative;
    overflow: hidden;
    margin-top: 19px;
    margin-bottom: 30px;
}

.hidden {
    display: none;
}

.prevSlide,
.nextSlide {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 70px;
    left: 0px;
    z-index: 10;
    text-align: center;
    cursor: pointer;
}

.nextSlide {
    left: 271px;
}

.left {
    width: 6px;
    height: 11px;
    background: url('./zg.gif') no-repeat;
    position: absolute;
    top: 9px;
    left: 10px;
    z-index: 12;
}

.right {
    width: 6px;
    height: 11px;
    background: url('./yg.gif') no-repeat;
    position: absolute;
    top: 9px;
    left: 10px;
    z-index: 12;
}

.btnBg {
    width: 28px;
    height: 28px;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
    background: #000;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 11;
}
