.footerbox {
    padding-top: 17px;
    border-top: 1px solid #fff;
    background-color: #f5f5f5;
}
.cooperation {
    margin: 0 auto 50px;
    width: 1000px;
}
.ad {
    margin: 0 auto 15px;
    width: 1000px;
    height: 90px;
}