.box_txt01 {
    & h2 {
        font-family: Microsoft YaHei;
        font-size: 20px;
        color: #2b2b2b;
        font-weight: normal;
        height: 28px;
        line-height: 28px;
        vertical-align: bottom;
        overflow: hidden;
    }

    & h2 a {
        color: #2b2b2b;
        font-weight: bold;
        text-decoration: none;
    }
    & h2 a:hover {
        color: #f54343;
    } /*150806a*/
    & .box_01 {
        overflow: hidden;
        padding-bottom: 9px;
        border-bottom: 1px solid #e7e7e7;
        margin-bottom: 15px;
    }
    & p {
        color: #999999;
        line-height: 24px;
        height: 20px;
    }
    & .box_01_1 {
        margin-top: 5px;
        overflow: hidden;
    }
    & h3 {
        font-size: 14px;
        color: #2b2b2b;
        height: 26px;
        line-height: 26px;
        font-weight: normal;
        vertical-align: bottom;
        overflow: hidden;
    }
    & h3 span {
        color: #666;
        margin-right: 7px;
    }
    & h3 a {
        color: #2b2b2b;
        white-space: nowrap;
    }
    & h3 a:hover {
        color: #f54343;
    } /*150806a*/
    & h3 .video {
        background: url(//y1.ifengimg.com/e01ed39fc2da5d4a/2013/0527/list03.gif) no-repeat left center;
        padding-left: 17px;
        margin-left: 3px;
    }
    & .hyh {
        position: absolute;
        right: 0px;
        bottom: 10px;
        background: url(//p1.ifengimg.com/a/2018/0911/hyh.png) no-repeat;
        width: 51px;
        height: 24px;
        cursor: pointer;
        display: none;
    }
}
.huh_box {
    position: relative;
}
.huh_box:hover {
    & .hyh {
        display: block;
    }
}

.box_02_pic a img {
    display: block;
    width: 90px;
    float: left;
    margin-right: 13px;
    margin-top: 1px;
    border: 1px solid #e7e7e7;
}
.box_02_word {
    height: 72px;
    overflow: hidden;
    *height: 71px;
    _height: 70px;
}
.box_02_word h3 {
    line-height: 24px;
}
.box_02 .box_02_word h3 a {
    color: #2b2b2b;
    font-size: 16px;
    font-weight: bold;
    font-family: Microsoft YaHei;
}
.box_02_word h3 a:hover {
    color: #f54343;
    text-decoration: none;
}
.box_02_word p {
    width: 112px;
    float: left;
    color: #999999;
    line-height: 24px;
    height: 20px;
    padding-right: 15px;
}
.box_02 {
    padding-top: 6px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 12px;
    margin-bottom: 18px;
}
.box_02 .bor_none {
    border-bottom: none;
}
.box_02 li {
    line-height: 28px;
    background: url(//y0.ifengimg.com/a/2013/0930/c_04.png) left center no-repeat;
    padding-left: 12px;
    height: 28px;
    overflow: hidden;
}
.b_box .box_02 li a {
    color: #2b2b2b;
    font-size: 14px;
}
.box_02 li a:hover {
    color: #f54343;
}

.title a {
    font-size: 16px;
    color: #f54343;
    text-decoration: none;
    font-family: Microsoft YaHei;
    display: block;
    position: relative;
    padding-left: 17px;
    padding-bottom: 7px;
    text-decoration: none;
}
.title a {
    background: url(//p1.ifengimg.com/a/2018/0911/c_08.png) 36px 5px no-repeat;
    padding-left: 0px;
}

.hyh {
    position: absolute;
    right: 0px;
    bottom: 10px;
    background: url(//p1.ifengimg.com/a/2018/0911/hyh.png) no-repeat;
    width: 51px;
    height: 24px;
    cursor: pointer;
    display: none;
}

.huh_box {
    position: relative;
}
.huh_box:hover {
    & .hyh {
        display: block;
    }
}
