.box {
    margin-bottom: 20px;
    & h2 {
        line-height: 32px;
        height: 32px;
        position: relative;
        font-family: 'microsoft yahei';
        border-bottom: 1px solid #dbdbdb;
        & i {
            position: absolute;
            left: 0;
            top: 0;
            border-bottom: 1px solid #f54343;
            font-style: normal;
            font-size: 20px;
        }
    }
}

.list {
    max-height: 910px;
    overflow-y: auto;
    overflow-x: hidden;
}

.item {
    composes: clearfix from global;
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid #e7e7e7;
}

.pic {
    width: 160px;
    height: 90px;
    float: left;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
    & img {
        width: 170px;
        height: 100px;
        display: block;
        transition: all 0.3s;
    }
    & img:hover {
        transform: scale(1.1);
    }
}

.info {
    overflow: hidden;
    & h3 {
        height: 52px;
        padding-top: 10px;
        line-height: 22px;
        padding-bottom: 13px;
        & a {
            font-family: Microsoft Yahei;
            font-size: 20px;
            color: #333333;
            text-decoration: none;
        }
        & a:hover {
            color: #f54343;
        }
    }
}

.tools {
    composes: clearfix from global;
}

.source {
    float: left;
    margin-right: 20px;
    font-size: 12px;
    color: #ccc;
}

.time {
    float: left;
    margin-right: 20px;
    font-size: 12px;
    color: #ccc;
}

.comment {
    float: right;
    background: url(./comment.jpg) left center no-repeat;
    color: #cccccc;
    font-size: 12px;
    width: 40px;
    & a {
        padding-left: 27px;
    }
}
