.stock {
    width: 300px;
    background: #d8ebfe;
    height: 25px;
    & li {
        float: left;
        width: 75px;
        height: 25px;
        text-align: center;
        line-height: 25px;
    }
    & .current {
        background: #73ade5;
        height: 25px;
        & a {
            color: #fff;
        }
    }
}
