
/*右侧浮动*/



.Focus{ position:relative;}
.caption{ position:absolute; left: -138px;  top: 0px;  background:#FFF;overflow: hidden;transition: all .5s;}
.showForm{
    height: 100%;
}
.hideForm{
    height:0; 
    
}
.Focus b{ display:block; height:40px; width:50px; 
    /* background:url(http://y0.ifengimg.com/a/2013/1014/g52a.png) left top no-repeat; */
    cursor:pointer 
}
.Focus .current b{ background:url(http://y2.ifengimg.com/a/2013/1029/hangqing.gif) no-repeat;}
.sut{ width:176px; height:42px; padding:10px 0px 0px 12px; background:url(./images/g56.png) no-repeat;}
.sut input.input_02a{ float:left; width:106px; height:30px; line-height:30px; border:0px; padding-left:7px; margin-right:1px;}

.rta_01 tr td .sut form .submit{ display:block; width:48px; height:28px; line-height:28px; overflow:hidden; border:none;text-align:center; color:#ffffff; cursor:pointer; float:right; text-decoration:none;background: none;cursor: pointer;outline: none;}
.rta_01 tr td .sut form .submit:hover{color:#ffffff;}


.xpic{position: fixed; left: 50%; bottom:30px; display: block; margin-left: 520px; width:60px;z-index:1000; }
/* 
.onfus ul li{ width:300px; height:166px;}
.onfus ul li.bg_b{background:#000;}
.onfus ul li span{ display:none;width:300px; height:166px; overflow:hidden; position:absolute; left:0; bottom:0px; background:#000;filter:alpha(opacity=20);-moz-opacity:0.2;opacity:0.2; z-index:999;}
.onfus ul li span a{ display:block;width:300px; height:166px;}
.onfus ul li span a:hover{ text-decoration:none;}
.onfus ul li.bg_b span{ display:block;} */
.white a{color:#fff;}
.rta_01 tr td a{ display:block; height:50px; margin-bottom:1px; background:#ededed; text-align:center; color:#999999;}
.rta_01 tr td a:hover{ background:#999999; color:#FFF; text-decoration:none;}
.rta_01 tr td a p {word-wrap: break-word; font-size:"微软雅黑"; text-align:center;color:#999999;}
.rta_01 tr td a:hover p{ color:#FFF;}
#sea_01 b{ display:block; height:30px; width:50px; background:url(./images/g52a.png) left 0px no-repeat;}
#sea_01:hover b{ background:url(./images/g53a.png) left 0px no-repeat;}
#sea_02 b{ display:block; height:21px; width:50px; background:url(./images/g52a.png) left -51px no-repeat;}
#sea_02:hover b{ background:url(./images/g53a.png) left -51px no-repeat;}
#sea_04 b{ display:block; height:30px; width:50px; background:url(./images/g52a.png) left -102px no-repeat;}
#sea_04:hover b{ background:url(./images/g53a.png) left -102px no-repeat;}
 
.trans{
transition: all .3s ease;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;-webkit-backface-visibility: hidden;}

.trans:hover{transform:scale(1.04, 1.04);-ms-transform:scale(1.04, 1.04);-webkit-transform:scale(1.04, 1.04);}



