 
.box_fixed{ 
    background:url(http://p0.ifengimg.com/2018_22/D84DEBC06504F4DE6B4329FF33AF2FD8E2DD1300_w1000_h200.png) 0 0;
    transition: all 1s;
    /* _background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://p0.ifengimg.com/2018_22/D84DEBC06504F4DE6B4329FF33AF2FD8E2DD1300_w1000_h200.png" ,sizingMethod="crop");  */
    overflow:hidden;}
.box_posr{ position:relative;}
.span_close{ position:absolute; right:0; top:0; color:#fff; cursor:pointer; display:block; width:30px; height:30px; z-index:100;}
.box_posr a{ display:block; width:1000px; height:200px; position:absolute; left:0;top:0; z-index:10;}
a {outline: none;}
a:active {outline: none;star:expression(this.onFocus=this.blur());}
 