.zhibo {
    width: 406px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #2a2a2a;
    background: url(./zbBg_a1a9f2d2.jpg) no-repeat;
    padding-left: 74px;
    overflow: hidden;
    & a {
        color: #2a2a2a;
    }
}
