.tabs {
    background: #fafafa;
    width: 580px;
    margin-bottom: 6px;
    & li {
        height: 28px;
        line-height: 28px;
        font-size: 14px;
        text-align: center;
        background: #fafafa;
        width: 114px;
        float: left;
        cursor: pointer;
        color: #2b2b2b;
        text-decoration: none;
    }
    & li.current {
        background: #f54343;
        color: #fff;
    }
}
