.col_R {
    width: 300px;
    float: left;
    overflow: hidden;
    margin-top: 2px;
    & .ad {
        border: 1px solid #e7e7e7;
        margin: 6px 0px 10px;
        & .ad_box {
            clear: both;
            position: relative;
            margin: 0 auto;
            text-align: center;
            width: 298px;
            height: 94px;
            line-height: 94px;
        }
    }
}
