.sub_nav {
    padding-left: 20px;
    position: relative;
    height: 39px;
    line-height: 39px;
    z-index: 9;
    & a {
        margin-right: 22px;
        color: #2a2a2a;
        font-size: 14px;
    }
    & a:hover {
        color: #f54343;
    }
}
