.col_1000 {
    width: 1000px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 20px;
}
.bottom_box_line {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.bottom_box_L {
    width: 340px;
    height: auto;
    float: left;
    display: block;
}
.bottom_box_M {
    width: 300px;
    height: auto;
    float: left;
    display: block;
    margin-left: 30px;
}
.bottom_box_R {
    width: 300px;
    height: auto;
    float: right;
    display: block;
}
