.title {
    margin-bottom: 20px;
    padding-bottom: 8px;
    border-bottom: 3px solid #34b395;
    font: 18px '微软雅黑';
    color: #34b395;
    line-height: 20px;
}
.list {
    margin: 0 0 40px 9px;
    & li {
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        background: url('./quan.jpg') no-repeat 6px 8px;
    }
    & a {
        margin-left: 45px;
        color: #2b2b2b;
        &:hover {
            color: #ba2b36;
        }
    }
}
