<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="always" name="referrer">
    <title></title>
    {{{ htmlWebpackPlugin.options.errorupload }}}
    <script>
        let _jsonData_ = <%- JSON.stringify(allData) %>;
        let jsonData = { ..._jsonData_,
            hardAd: {
                data: {
                    title: '硬广'
                },
                preload: 'http://y0.ifengimg.com/base/jQuery/jquery-1.9.1.min.js',
                callback: 'function(elm, data) {console.log("hardAd"); $(elm).html(data.title)}'
            },
            bottomAd: {
                data: {
                    title: 'bottomAd'
                },
                preload: 'http://y0.ifengimg.com/base/jQuery/jquery-1.9.1.min.js',
                callback: 'function(elm, data) {console.log("bottomAd"); $(elm).html(data.title)}'
            }
        }

    </script>
    <!-- 硬广 -->
    {{#each htmlWebpackPlugin.files.css}}
    <link href="{{path}}" rel="stylesheet"> 
    {{/each}}
    {{{ htmlWebpackPlugin.options.polyfill }}}
</head>

<body>
    <div id="root"></div>
    {{#each htmlWebpackPlugin.files.js}}
    <script src="{{path}}" type="text/javascript"></script>
    {{/each}}
</body>

</html>
